<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <!-- <div class="settings-sidebar">
                <div class="user-circle">
                    KL
                </div>
                <span class="user-name">
                    Kiki L.
                </span>
                <span class="user-subtitle">
                    Welcome
                </span>
                <div class="sidebar-balance">
                    <div class="balance-display">
                        <span class="balance-title">Balance</span>
                        <span class="balance-amount">$1000.00</span>
                    </div>
                    <button class="sidebar-deposit-button">
                        Deposit
                    </button>
                </div>
                <ul class="sidebar-menu">
                    <a routerLink="/balance">
                        <li class="sidebar-menu-option"><i class="far fa-wallet"></i>
                            Balance</li>
                    </a>
                    <a routerLink="/deposit">
                        <li class="sidebar-menu-option"><i class="far fa-coins"></i>
                            Deposit</li>
                    </a>
                    <a routerLink="/cashout">
                        <li class="sidebar-menu-option"><i class="far fa-university"></i>
                            Withdraw</li>
                    </a>
                    <a routerLink="/transfer">
                        <li class="sidebar-menu-option sidebar-menu-option-active"><i class="far fa-exchange"></i>
                            Transfer</li>
                    </a>
                    <a routerLink="/history">
                        <li class="sidebar-menu-option"><i class="far fa-history"></i>
                            History</li>
                    </a>
                    <a routerLink="/user">
                        <li class="sidebar-menu-option"><i class="far fa-cog"></i>
                            Personal Settings</li>
                    </a>
                </ul>
            </div> -->
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">Transfer</span>
                    <span class="settings-content-header-subtitle">Transfer your available balance between game
                        providers</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-balance-item-wrapper-full">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Total balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you have available to play with
                            </span>
                            <div class="settings-balance-panel settings-balance-panel-nobtn">
                                <span class="settings-balance-amount-centered">$500.00</span>
                                <!-- <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                            +
                                        </button> -->
                            </div>

                            <span class="settings-content-title">
                                Playtech balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you have available to play with on Playtech games
                            </span>
                            <div class="settings-balance-panel settings-balance-panel-nobtn">
                                <span class="settings-balance-amount-centered">$0.00</span>
                                <!-- <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                            +
                                        </button> -->
                            </div>

                            <!-- <div class="settings-provider-balances">
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-1-balance-field"
                                        required value="$100" style="border-radius: 5px 0 0 5px;">
                                    <label for="settings-provider-1-balance-field">Playtech</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-2-balance-field"
                                        required value="$100">
                                    <label for="settings-provider-2-balance-field">Provider2</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-3-balance-field"
                                        required value="$100">
                                    <label for="settings-provider-3-balance-field">Provider3</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-4-balance-field"
                                        required value="$100">
                                    <label for="settings-provider-4-balance-field">Provider4</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-5-balance-field"
                                        required value="$100" style="border-radius: 0 5px 5px 0; border: none;">
                                    <label for="settings-provider-5-balance-field">Provider5</label>
                                </div>
                            </div> -->

                            <span class="settings-content-title">
                                Transfer
                            </span>
                            <span class="settings-content-subtitle">
                                Transfer funds between your accounts
                            </span>

                            <form>
                                <div class="transfer-div" style="margin-top: 5px;">
                                    <!-- <span class="transfer-text">From: </span> -->
                                    <label for="transfer-from">From: </label>
                                    <select id="transfer-from">
                                        <option>Account Balance</option>
                                        <option>Playtech</option>
                                    </select>
                                </div>

                                <div class="transfer-div">
                                    <!-- <span class="transfer-text">To: </span> -->
                                    <label for="transfer-to">To: </label>
                                    <select id="transfer-to">
                                        <option>Playtech</option>
                                        <option>Account Balance</option>
                                    </select>
                                </div>

                                <label for="transfer-amt-input">Amount: </label>
                                <div class="transfer-amt">
                                        
                                    <input class="settings-withdraw-input" type="text" id="transfer-amt-input" placeholder="$100"
                                        required>
                                </div>
                            </form>

                            <button class="settings-button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>