.transfer-div {
    display: block;
    padding: 5px 0;
}

label {
    display: inline-block;
    min-width: 70px;
    font-size: 13px;
}

.transfer-amt {
    background: #252b38;
    margin: 20px 0;
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 500px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
}