<!-- SIGNUP MODAL -->
<div class="modal" id="signup-modal">
  <div class="signup-panel">
    <button class="modal-close">
      X
    </button>
    <div class="signup-col-1">
      <div class="signup-promo-text">
        <h1>Welcome Bonus Package</h1>
        <span>$200 bonus and 100 free spins</span>
      </div>
    </div>
    <div class="signup-col-2">
      <h1>Join Play for free!</h1>
      <form class="login-panel-forms" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="login-panel-form">
          <input class="login-panel-input" type="text" id="signup-email" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required style="border: 1px solid #dedfe3; border-radius: 5px 5px 0 0; border-width: 1px 1px 1px">
          <label for="login-username">Full Name</label>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Full Name is required</div>
          </div>
        </div>
        <div class="login-panel-form">
          <input class="login-panel-input" type="text" id="signup-fullname" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            required style="border: 1px solid #dedfe3; border-radius: 0; border-width: 0px 1px 1px">
          <label for="login-fullname">E-mail</label>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">E-mail is required</div>
          </div>
        </div>
        <div class="login-panel-form">
          <input class="login-panel-input" type="text" id="signup-username" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            required style="border: 1px solid #dedfe3; border-radius: 0; border-width: 0px 1px 1px">
          <label for="login-phone">Username</label>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <!-- <div class="login-panel-form">
          <input class="login-panel-input" type="text" id="signup-ic" required style="border: 1px solid #dedfe3; border-radius: 0; border-width: 0px 1px 1px">
          <label for="login-phone">IC</label>
        </div> -->
        <div class="login-panel-form">
          <input class="login-panel-input" type="password" id="signup-password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            required style="border: 1px solid #dedfe3; border-radius: 0 0 5px 5px; border-width: 0px 1px 1px 1px">
          <label for="login-password">Password</label>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <!-- <div class="login-panel-form">
          <input class="login-panel-input" type="password" id="signup-password" required>
          <label for="login-password">Repeat Password</label>
        </div> -->
        <button>Sign Up</button>
      </form>
      <div class="cb cb-default cb-fill cb-smooth">
        <input type="checkbox" />
        <div class="state signup-cb">
          <label id="signup-cb-label">
            By checking this box I accept the <a href="#">Terms and Conditions</a>, <a href="#">Privacy
              Policy</a> and confirm that
            I am over 18 years of age.
          </label>
        </div>
      </div>

    </div>
  </div>
</div>