:host {
    color: rgb(207, 207, 207);
}

.parent-container {
    padding: 0 20px 0 20px;
    max-width: 800px;
    width: 100%;
    margin: auto;
  }
  
  .faqlist {
    list-style: none;
    padding-left: 40px;
    padding-right: 20px;
  }
  .faqlist li {
    border-bottom: 1px solid #999999;
    margin-bottom: 15px;
  }
  .faqlist li.active .answer {
    max-height: 275px !important;
    padding-bottom: 25px;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }
  .faqlist li.active .question {
    color: #808080;
    transition: color 0.5s ease;
  }
  .faqlist  .answer {
    /* color: #090909; */
    font-family: serif;
    font-size: 16px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  }
  .faqlist  .plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left: -40px;
    top: 50%;
    z-index: 2;
  }
  .faqlist  .plus-minus-toggle:before, .faqlist .plus-minus-toggle:after {
    background: rgb(207, 207, 207);
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
    transition: transform 500ms ease;
  }
  .faqlist .plus-minus-toggle:after {
    transform-origin: center;
  }
  .faqlist .plus-minus-toggle.collapsed:after {
    transform: rotate(90deg);
  }
  .faqlist .plus-minus-toggle.collapsed:before {
    transform: rotate(180deg);
  }
  .faqlist .question {
    /* color: #090909; */

    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding: 20px 0;
    transition: color 0.5s ease;
  }
  @media screen and (max-width: 767px) {
    .faqlist .question {
      font-size: 18px;
    }
  }
  