<!-- SPACE -->
<div class="space-50">
</div>

<!-- FAQ -->
<div class="parent-container">
  <ul class="faqlist">
    <li>
      <h3 class="question">How To Register & Make A Deposit
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">
        1) Submit registration form. <br>

        2) Log in here using your registered username and password. <br>

        3) Submit deposit form. Deposit into your preferred betting website <br>

        4) You shall receive an email of your bet account details with bet credits within 10 mins. You may also check
        your deposit status at the website after deposit. <br>

        5) You may start placing bet in your chosen betting website. <br>

        Note: Deposit request can be done at anytime, 24 hours a day, 7 days a week.</div>
    </li>
    <li>
      <h3 class="question">How To Make A Withdrawal
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">1) Log in here using your registered username and password. <br>

        2) Submit withdrawal form. Withdrawal from your selected betting website into your preferred bank account. <br>

        3) You shall receive an email notifying you of done bank transfer. Withdrawal of RM30k and below will be banked
        in within 2 hours; withdrawal of above RM30k will be banked in within the same day. You may also check your
        withdrawal status at the website after your withdrawal request. <br>

        Note: Withdrawal request can be done at anytime, 24 hours a day, 7 days a week.</div>
    </li>
    <li>
      <h3 class="question">How To Make A Transfer
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">1) Log in here using your registered username and password. <br>

        2) Submit transfer form. Transfer from your selected betting website into your preferred betting website. <br>

        3) You shall receive an email notifying you of done credit transfer within 10 minutes. You may also check your
        transfer status at the website after your transfer request. <br>

        Note: Transfer request can be done at anytime, 24 hours a day, 7 days a week.</div>
    </li>
    <li>
      <h3 class="question">How Long Do Bets Take To Be Settled?
        <div class="plus-minus-toggle collapsed"></div>
      </h3>
      <div class="answer">Normally bets will be settled as quickly as possible, however for some events official
        confirmation of the result is necessary which may delay the settlement procedures. Sometimes it may take up to
        24 hours for the balance to be updated. If the match is cancelled or discontinued midway, it may take more than
        24 hours. You may always contact our 24-hour Customer Care Live Chat or Hotline for any query.</div>
    </li>
    <li>
    <h3 class="question">Why Hasn't My Deposit Reflected On My Account?
      <div class="plus-minus-toggle collapsed"></div>
    </h3>
    <div class="answer">Our company will verify the transaction once you deposited into your account. Once confirmed,
      your account will be credited within 30 minutes. You may always contact our 24-hour Customer Care Live Chat or
      Hotline for any query.</div>
    </li>
  </ul>
</div>

<!-- SPACE -->
<div class="space-50">
</div>