<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">Balance</span>
                    <span class="settings-content-header-subtitle">Check out your balance and pending
                        transactions</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-balance-item-wrapper">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Total balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you have available to play with
                            </span>
                            <div class="settings-balance-panel">
                                <span class="settings-balance-amount-centered">$100.00</span>
                                <a href="deposit.html">
                                    <button class="settings-balance-panel-button">
                                        +
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="settings-balance-item-wrapper">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Withdrawable balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you are able to withdraw
                            </span>
                            <div class="settings-balance-panel">
                                <span class="settings-balance-amount-centered">$100.00</span>
                                <a href="withdraw.html">
                                    <button class="settings-balance-panel-button">
                                        <i class="fal fa-wallet"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="settings-balance-item-wrapper">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Total bonuses
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount locked in bonuses
                            </span>
                            <div class="settings-balance-panel">
                                <span class="settings-balance-amount">$100.00</span>
                                <button class="settings-balance-panel-button">
                                    <i class="far fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>