<!-- 
<nav *ngIf="currentUser">
  <div>
      <a routerLink="/">Home</a>
      <a (click)="logout()">Logout</a>
  </div>
</nav>


<alert></alert>
<router-outlet></router-outlet> -->

<!-- PROGRESS BAR -->


<!-- SIDEBAR -->
<app-sidebar></app-sidebar>

<!-- TINT -->
<div class="tint">
</div>

<div class="site-wrapper">
  <!-- SEARCH MODAL -->
  <app-search-modal></app-search-modal>

  <!-- LOGIN MODAL -->
  <app-login-modal></app-login-modal>

  <!-- SIGNUP MODAL -->
  <app-signup-modal></app-signup-modal>

  <!-- PAYMENT MODAL -->
  <app-payment-modal></app-payment-modal>

  <!-- COMING SOON MODAL -->
  <app-coming-soon-modal></app-coming-soon-modal>

  <!-- NAVBAR -->
  <app-navbar></app-navbar>

  <!-- ALERT -->
  <!-- <alert></alert> -->

  <!-- CONTENT -->
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <app-footer></app-footer>
</div>