.demo-button-wrapper {
    position: relative;
    bottom: -30%;
}

.demo-button {
    width: 100px;
    height: 30px;
    background: #60ab2e;
    font-size: 12px;
    text-transform: uppercase;
    /* font-weight: 600; */
    padding: 0;
    border-radius: 15px;
    color: white;
}

/* .game-slide-controls {
    opacity: 1;
} */