<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)">Delete</a>
    </li>
</ul> -->

<!-- CAROUSEL -->
<!-- <div class="main-carousel">
    <div class="carousel-cell">
        <div id="slide1">
            <div class="carousel-desc">
                <h1>Twinbonus</h1>
                <span>100% up to $200 + 10 free spins!</span>
                <button class="carousel-desc-button">
                    Read More
                </button>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div id="slide2">
            <div class="carousel-desc">
                <h1>Twinbonus</h1>
                <span>100% up to $200 + 10 free spins!</span>
                <button class="carousel-desc-button">
                    Read More
                </button>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div id="slide3">
            <div class="carousel-desc">
                <h1>Twinbonus</h1>
                <span>100% up to $200 + 10 free spins!</span>
                <button class="carousel-desc-button">
                    Read More
                </button>
            </div>
        </div>
    </div>
</div> -->

<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">
    <!-- FEATURED GAMES -->
    <section class="featured-games slider-section">
        <div class="slider-section-head">
            <div class="present-icon"></div>
            <h1>Featured</h1>
        </div>
        <div class="featured-content">
            <a href="#" class="featured-video-a">
                <div class="featured-video">
                    <iframe src="https://clips.twitch.tv/embed?clip=NurturingEsteemedBottleRlyTho" height="100%" width="100%"
                        frameborder="0" scrolling="no" allowfullscreen="false" controls="false" autoplay="true" muted="true">
                    </iframe>
                    <!-- <img src="assets/img/liveroulette2.jpg"> -->
                    <!-- <div class="featured-slide-controls">
                                                        <a href="#"><img src="assets/img/play.svg"></a>                         <a href="lol.com" class="demo-button-wrapper"><button class="demo-button">Demo</button></a>
                            </div> -->
                </div>
            </a>
            <div class="featured-info">
                <img src="assets/img/gametn19.jpg">
                <div class="featured-info-title">
                    <h1><a href="#">Immersive Roulette</a></h1>
                    <div class="featured-title-rating">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i>
                    </div>
                    <div class="featured-title-category">
                        Category: <a href="#">Live Casino</a>, <a href="#">Roulette</a>, <a href="#" class="gold-category">Free</a>
                    </div>
                </div>
                <div class="featured-desc">
                    <p>
                        Immersive Roulette is a part of Evolution Gaming’s stellar live dealer platform, and is
                        a
                        unique game by itself. The setup is more or less standard, with a real roulette wheel
                        and
                        an attractive female dealer behind it. What makes this game truly immersive are the
                        multiple camera views that constantly switch in a cinematic fashion.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <!-- NEW GAMES -->
    <section class="new-games slider-section">
        <div class="slider-section-head">
            <div class="gem-icon"></div>
            <h1>New Games</h1>
            <button class="slider-btn slider-prev-btn">
                <i class="far fa-arrow-left"></i>
            </button>
            <button class="slider-btn slider-next-btn">
                <i class="far fa-arrow-right"></i>
            </button>
        </div>
        <div class="games-slider">
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn1.jpg">
                    <div class="game-slide-controls">
                        <span>Rise of Olympus</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a routerLink='/game' class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn2.jpg">
                    <div class="game-slide-controls">
                        <span>Peking Luck</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn3.jpg">
                    <div class="game-slide-controls">
                        <span>Hidden Valley</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn4.jpg">
                    <div class="game-slide-controls">
                        <span>Sizzling Spins</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn5.jpg">
                    <div class="game-slide-controls">
                        <span>Eastern Emeralds</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn6.jpg">
                    <div class="game-slide-controls">
                        <span>7 Chakras</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- RECCOMENDED GAMES -->
    <section class="recommended-games slider-section">
        <div class="slider-section-head">
            <div class="controller-icon"></div>
            <h1>Recommended Picks</h1>
            <button class="slider-btn slider-prev-btn">
                <i class="far fa-arrow-left"></i>
            </button>
            <button class="slider-btn slider-next-btn">
                <i class="far fa-arrow-right"></i>
            </button>
        </div>
        <div class="games-slider">
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn7.jpg">
                    <div class="game-slide-controls">
                        <span>Mega Moolah Isis</span>
                        <a href="#"><img src="assets/img/play.svg"></a>
                        <a href="lol.com" class="demo-button-wrapper">
                            <button class="demo-button">Demo</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn8.jpg">
                    <div class="game-slide-controls">
                        <span>Great Rhino</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn9.jpg">
                    <div class="game-slide-controls">
                        <span>Eastern Emeralds</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn10.jpg">
                    <div class="game-slide-controls">
                        <span>Book of Dead</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn11.jpg">
                    <div class="game-slide-controls">
                        <span>Fire Joker</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
            <div class="game-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn12.jpg">
                    <div class="game-slide-controls">
                        <span>7 Chakras</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ALL GAMES -->
    <section class="all-games slider-section">
        <div class="slider-section-head">
            <div class="dice-icon"></div>
            <h1>All Games</h1>
            <button class="slider-btn slider-prev-btn">
                <i class="far fa-arrow-left"></i>
            </button>
            <button class="slider-btn slider-next-btn">
                <i class="far fa-arrow-right"></i>
            </button>
        </div>
        <!-- <div class="all-games-box">
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn12.jpg">
                    <div class="game-slide-controls">
                        <span>Reactoonz</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn13.jpg">
                    <div class="game-slide-controls">
                        <span>Immortal Romance</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn14.jpg">
                    <div class="game-slide-controls">
                        <span>Sakura Fortune</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn15.jpg">
                    <div class="game-slide-controls">
                        <span>Football Studio</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn16.jpg">
                    <div class="game-slide-controls">
                        <span>American Roulette</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn17.jpg">
                    <div class="game-slide-controls">
                        <span>Dream Catcher</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn18.jpg">
                    <div class="game-slide-controls">
                        <span>Roulette Live</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn19.jpg">
                    <div class="game-slide-controls">
                        <span>Immersive Roulette</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn20.jpg">
                    <div class="game-slide-controls">
                        <span>Sizzling Spins</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn21.jpg">
                    <div class="game-slide-controls">
                        <span>London Roulette</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn22.jpg">
                    <div class="game-slide-controls">
                        <span>Robin Sherwood</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn23.jpg">
                    <div class="game-slide-controls">
                        <span>Svensk Roulette</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn1.jpg">
                    <div class="game-slide-controls">
                        <span>Rise of Olympus</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn2.jpg">
                    <div class="game-slide-controls">
                        <span>Peking Luck</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn3.jpg">
                    <div class="game-slide-controls">
                        <span>Hidden Valley</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn4.jpg">
                    <div class="game-slide-controls">
                        <span>Sizzling Spins</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn5.jpg">
                    <div class="game-slide-controls">
                        <span>Eastern Emeralds</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn6.jpg">
                    <div class="game-slide-controls">
                        <span>7 Chakras</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn7.jpg">
                    <div class="game-slide-controls">
                        <span>Mega Moolah Isis</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn8.jpg">
                    <div class="game-slide-controls">
                        <span>Great Rhino</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn9.jpg">
                    <div class="game-slide-controls">
                        <span>Eastern Emeralds</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn10.jpg">
                    <div class="game-slide-controls">
                        <span>Book of Dead</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn11.jpg">
                    <div class="game-slide-controls">
                        <span>Fire Joker</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn24.jpg">
                    <div class="game-slide-controls">
                        <span>Rainbrew</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn25.jpg">
                    <div class="game-slide-controls">
                        <span>Dragonara</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn26.jpg">
                    <div class="game-slide-controls">
                        <span>Fortunum</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
            <a href="#" class="game-slide-a all-slide-a">
                <div class="game-slide">
                    <img src="assets/img/gametn27.jpg">
                    <div class="game-slide-controls">
                        <span>House of Doom</span>
                        <a href="#"><img src="assets/img/play.svg"></a> <a href="lol.com" class="demo-button-wrapper"><button
                                class="demo-button">Demo</button></a>
                    </div>
                </div>
            </a>
        </div> -->

        <games-list></games-list>
        <button class="all-games-load-more-btn">Load More</button>
    </section>
</div>


<!--
<div class="container">

    <layout-demo></layout-demo>

</div> -->