<div class="all-games-box">
  <ul class="game-loop">
      <li *ngFor="let game of games" class="game-slide-a all-slide-a">
          <div class="game-slide">
              <img src="assets/games/{{game.gameCode}}/{{game.gameCode}}.png" class="game-tn" onError="this.src='../../assets/img/missing.png';">
              <div class="game-slide-controls">
                  <span>{{game.gameName}}</span>
                  <!-- <a href="#"><img src="assets/img/play.svg"></a> <a href="{{user.link}}" class="demo-button-wrapper"><button
                          class="demo-button">Demo</button></a> -->
                  <a href="#"><img src="assets/img/play.svg"></a> <a routerLink="game/{{game.gameCode}}" class="demo-button-wrapper"><button
                          class="demo-button">Demo</button></a>
              </div>
          </div>

      </li>
  </ul>
</div>