.game-loop {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.demo-button-wrapper {
    position: relative;
    bottom: -25%;
}

.demo-button {
    width: 100px;
    height: 30px;
    background: #60ab2e;
    font-size: 12px;
    text-transform: uppercase;
    /* font-weight: 600; */
    padding: 0;
    border-radius: 15px;
    color: white;
}

/* .game-slide-controls {
    opacity: 1;
} */

.game-tn {
    height: 100%;
    width: 100%;
    margin: 0;
}

.game-slide {
    margin: 0 10px;
    height: 100%;
}

.game-slide-a {
    margin: 0 0 10px;
}

li {
    list-style: none;
    /* width: 12.5%; */
    height: 160px;
    padding: 0;
}