<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">Deposit</span>
                    <span class="settings-content-header-subtitle">Deposit currency into your account to play</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-balance-item-wrapper-full">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Total balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you have available to play with
                            </span>
                            <div class="settings-balance-panel settings-balance-panel-nobtn">
                                <span class="settings-balance-amount-centered">$500.00</span>
                                <!-- <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                            +
                                        </button> -->
                            </div>

                            <div class="settings-provider-balances">
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-balance-field"
                                        required value="$100" style="border-radius: 5px 0 0 5px;" readonly>
                                    <label for="settings-provider-balance-field">Playtech</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-balance-field"
                                        required value="$100" readonly>
                                    <label for="settings-provider-balance-field">Provider2</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-balance-field"
                                        required value="$100" readonly>
                                    <label for="settings-provider-balance-field">Provider3</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-balance-field"
                                        required value="$100" readonly>
                                    <label for="settings-provider-balance-field">Provider4</label>
                                </div>
                                <div class="settings-provider-balance">
                                    <input class="settings-provider-balance-input" type="text" id="settings-provider-balance-field"
                                        required value="$100" style="border-radius: 0 5px 5px 0; border: none;"
                                        readonly>
                                    <label for="settings-provider-balance-field">Provider5</label>
                                </div>
                            </div>

                            <span class="settings-content-title">
                                Add balance
                            </span>
                            <span class="settings-content-subtitle">
                                Choose an amount to add
                            </span>

                            <div class="settings-balance">
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$10.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$20.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$50.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$100.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$200.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="settings-balance-item-wrapper">
                                    <div class="settings-balance-item">
                                        <div class="settings-balance-panel">
                                            <span class="settings-balance-amount">$500.00</span>
                                            <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                                +
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>