<!-- SPACE -->
<div class="space-50">
</div>

<article>
  <header class="entry-header">
    <h1 class="entry-title">Terms and Conditions</h1>
  </header>
  <div class="entry-content">
    <p>The following rules form an agreement between iBet88 and its customers.</p>
    <p>By registering with iBet88, you fully agree and accept these rules.</p>
    <p>1. By accessing the iBet88 website and by registering through our site to participate in any of the interactive
      online games (collectively the ‘Games’), you agree to be bound by these terms and conditions (the ‘Terms’).
      Please read them carefully and make sure that you only access the games if you fully understand the contents and
      agree to be bound by them.</p>
    <p>2. Customers must be at least 18 years of age in order to place bets. iBet88 reserves the right to ask for proof
      of age from customers and to suspend their account until satisfactory documentation is provided.</p>
    <p>3. It is the customer’s responsibility to ensure that their username and security details remain confidential.
      In the event that a customer suspects this may no longer be the case, they should inform us immediately. Any
      transactions under the username will be the customer’s responsibility.</p>
    <p>4. Customers cannot cancel or change a bet once the bet has been placed and confirmed.</p>
    <p>5. iBet88 reserves the right to void any or all bets made by any person or group of persons acting in an attempt
      to defraud us. If there is proof of a series of bets, each containing the same selection placed by or for the
      same individual or group of individuals, iBet88 reserves the right to void such bets and suspend related
      accounts.</p>
    <p>6. iBet88 reserves the right to terminate your account at any time at our absolute discretion in the event that
      wagers have been placed in an attempt to defraud iBet88 or made by or contracted by any bookmaker or gambling
      syndicate in an attempt to maximize payouts in our Games. Further, we reserve the right to withhold all winnings,
      as well as the principle, of anyone found to have taken part in such activities.</p>
    <p>7. To maintain a high level of security to protect your balance, we will carry out random security checks and
      keep records of transactions and wagers. You accept that we may request for additional documentation to verify
      you as the account holder in the event of a security check.</p>
    <p>8. If any of your personal account details or other financial information relevant to your Account are
      incorrect, you must inform us immediately, as failure to do so may result in transactions being declined by your
      financial institution. We will not consent to any liability or responsibility for transactions, which are
      declined due to incorrect details provided where you have failed to notify us of any changes/correct details.</p>
    <p>9. The reference language of the present Terms and Conditions is English. Despite the care taken during
      translations, in case of difficulty of understanding of any clause of these Terms and Conditions, only the
      English version will be valid.</p>
    <p>10. iBet88 does not allow individual customers to create duplicate accounts (more than one account). Any
      customers found to have created duplicate accounts will have their accounts suspended.</p>
    <p>11. Duplicate accounts registration by using deliberately manipulated personal details entries (if detected) may
      result in the irreversible termination of the gaming account access. iBet88 reserves the right to cancel all
      accumulated winnings credited to users. And account will be freeze permanently.</p>
    <p>12. Each bonus, promotion and/or special offer is subject to its own specific terms. The player agrees to read
      and understand the terms relevant to each bonus they collect. iBet88 reserves the right to revoke any bonus or
      special offer or promotion at any time.</p>
    <p>13. Prior to releasing or approving any withdrawal, iBet88 reserves the right to request from customers to
      furnish with information such as proof of Personal Identification, recent bank statement or other appropriate
      documentation as iBet88, at its sole discretion, deems necessary. If you fail to comply with any security
      request, iBet88 reserves the right to void any winnings in your account.</p>
    <p>14. These Terms &amp; Conditions are part of the General iBet88 Terms &amp; Conditions.</p>
    <p>15. These terms &amp; conditions prevail over any communication via email, chat or phone.</p>
    <h2>General Promotional Terms &amp; Conditions</h2>
    <p>1. All promotions offers are limited to one per person, family, household address, email address, telephone
      number, same payment account number, shared computer( e.g. school, public library or workplace) and shared IP.</p>
    <p>2. Most of our promotions come with rollover requirement. Which means that member will have to fulfill the
      rollover requirement before any withdrawal can be made.</p>
    <p>3. Any bets placed on two opposite sides or results in draw will not be taken into the calculation or count
      towards any rollover requirement.</p>
    <p>4. iBet88 reserves the right to forfeit the bonus eligibility, bonus amount and any associated bonus winnings of
      a customer or a group of customers following suspicious common betting patterns that could generate guaranteed
      profit and/or guaranteed bonus eligibility. This suspicious activity might include, without being limited to,
      common betting patterns across identical events/markets/selections that could be identified in one or across
      several accounts.</p>
    <p>5. In case of bonus abuse, iBet88 reserves the right to deduct the bonus and any winnings associated with the
      bonus from the customer’s account.</p>
    <p>6. Promotion Abusive Behavior might include, without being limited to: common or suspicious betting patterns
      across identical events/markets/selections that could be identified in one or across several accounts, excessive
      frequency or highly abnormal betting pattern on identical selection(s) in a short time in comparison with regular
      betting patterns, etc.</p>
    <p>7. iBet88 will not take responsibility if the member provides incomplete/incorrect information, which might
      result in delayed/ failed delivery for gifts or lucky draw prizes.</p>
    <p>8. iBet88 reserves the right to amend, cancel, retrieve or refuse any promotion at our discretion.</p>
    <p>9. All management decisions are final.</p>
  </div>
</article>

<!-- SPACE -->
<div class="space-50">
</div>