<!-- FOOTER -->
<footer>
  <hr>
  <div class="footer-payments">
    <i class="pw pw-skrill"></i>
    <i class="pw pw-paypal"></i>
    <i class="pw pw-bitcoin-sign"></i>
    <i class="pw pw-mastercard"></i>
    <i class="pw pw-visa"></i>
    <i class="pw pw-paysafecard"></i>
    <i class="pw pw-verisign"></i>
  </div>
  <div class="footer-disclaimer">
    Gambling can be addictive, please play responsibly. Remember that you always risk losing the money you bet
    so do not spend more than you can afford to lose. If you think you may have a problem, click here. Gambling
    Therapy provides support and counselling for anyone adversely affected by gambling. Their site is
    multi-lingual and can be visited at: www.gamblingtherapy.org.
  </div>
  <hr>
  <div class="footer-links">
    <a routerLink='/about-us'>About Us</a>
    <a routerLink='/faq'>FAQ</a>
    <a routerLink='/terms'>Terms of Use</a>
    <a href="#">Get in Touch</a>
  </div>
  <hr>
  <div class="footer-footer">
    <span class="footer-footer-1">TM + © 2018 Play, Inc. All rights reserved.</span>
    <span class="footer-footer-2">18+ and over only!</span>
  </div>
</footer>