h1 {
    color: white;
}

.login-panel-forms {
    border: none;
    margin: 10px 0;
}

.login-panel {
    border: none;
    width: 500px;
    margin: auto;
}

#username {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dedfe3;
}

#password {
    border-radius: 0 0 5px 5px;
}

.login-panel-input~label {
    position: absolute;
    font-size: 14px;
    transition: all .2s;
    text-align: left;
    left: 20px;
    line-height: 50px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    top: 0;
}

.login-panel-input:focus~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.login-panel-input:focus {
    padding: 18px 20px 0;
}

.login-panel-input:valid~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.login-panel-input:valid {
    padding: 18px 20px 0;
}

.login-signup {
    display: block;
    width: 100%;
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    padding: 15px 0;
}