.cb * {
    box-sizing: border-box
}

.cb input:not([type=checkbox]):not([type=radio]) {
    display: none
}

.cb {
    position: relative;
    display: inline-block;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 1
}

.cb input {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer
}

.cb .state label {
    position: initial;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 1.5em;
    min-width: calc(1em + 2px)
}

.cb .state label:after,
.cb .state label:before {
    content: '';
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    background-color: transparent
}

.cb .state label:before {
    border-color: #bdc3c7
}

.cb .state.cb-is-hover,
.cb .state.cb-is-indeterminate {
    display: none
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@-webkit-keyframes tada {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: scale(7);
        transform: scale(7)
    }
    38% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    55% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    72% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    81% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.24);
        transform: scale(1.24)
    }
    89% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    95% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.04);
        transform: scale(1.04)
    }
    100% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes tada {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        -webkit-transform: scale(7);
        transform: scale(7)
    }
    38% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    55% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    72% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    81% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.24);
        transform: scale(1.24)
    }
    89% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    95% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-transform: scale(1.04);
        transform: scale(1.04)
    }
    100% {
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes jelly {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    40% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    50% {
        -webkit-transform: scale3d(.85, 1.15, 1);
        transform: scale3d(.85, 1.15, 1)
    }
    65% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    75% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes jelly {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    40% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    50% {
        -webkit-transform: scale3d(.85, 1.15, 1);
        transform: scale3d(.85, 1.15, 1)
    }
    65% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    75% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes rotate {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-200px) rotate(-45deg);
        transform: translateZ(-200px) rotate(-45deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) rotate(0);
        transform: translateZ(0) rotate(0)
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-200px) rotate(-45deg);
        transform: translateZ(-200px) rotate(-45deg)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) rotate(0);
        transform: translateZ(0) rotate(0)
    }
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7
    }
    100% {
        box-shadow: 0 0 0 1.5em rgba(189, 195, 199, 0)
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7
    }
    100% {
        box-shadow: 0 0 0 1.5em rgba(189, 195, 199, 0)
    }
}

.cb.cb-default.cb-fill .state label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.cb.cb-default .state label:after {
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6)
}

.cb.cb-default input:checked~.state label:after {
    background-color: #bdc3c7!important
}

.cb.cb-default.cb-thick .state label:after,
.cb.cb-default.cb-thick .state label:before {
    border-width: calc(1em / 7)
}

.cb.cb-default.cb-thick .state label:after {
    -webkit-transform: scale(.4)!important;
    -ms-transform: scale(.4)!important;
    transform: scale(.4)!important
}

.cb.cb-icon .state .icon {
    position: absolute;
    font-size: 1em;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    left: 0;
    z-index: 1;
    text-align: center;
    line-height: normal;
    top: calc((0% - (100% - 1em)) - 8%);
    border: 1px solid transparent;
    opacity: 0
}

.cb.cb-icon .state .icon:before {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1
}

.cb.cb-icon input:checked~.state .icon {
    opacity: 1
}

.cb.cb-icon input:checked~.state label:before {
    border-color: #5a656b
}

.cb.cb-svg .state .svg {
    position: absolute;
    font-size: 1em;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    left: 0;
    z-index: 1;
    text-align: center;
    line-height: normal;
    top: calc((0% - (100% - 1em)) - 8%);
    border: 1px solid transparent;
    opacity: 0
}

.cb.cb-svg .state svg {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1
}

.cb.cb-svg input:checked~.state .svg {
    opacity: 1
}

.cb.cb-image .state img {
    opacity: 0;
    position: absolute;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
    top: 0;
    top: calc((0% - (100% - 1em)) - 8%);
    left: 0;
    z-index: 0;
    text-align: center;
    line-height: normal;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

.cb.cb-image input:checked~.state img {
    opacity: 1
}

.cb.cb-switch input {
    min-width: 2em
}

.cb.cb-switch .state {
    position: relative
}

.cb.cb-switch .state:before {
    content: '';
    border: 1px solid #bdc3c7;
    border-radius: 60px;
    width: 2em;
    box-sizing: unset;
    height: calc(1em + 2px);
    position: absolute;
    top: 0;
    top: calc((0% - (100% - 1em)) - 16%);
    z-index: 0;
    transition: all .5s ease
}

.cb.cb-switch .state label {
    text-indent: 2.5em
}

.cb.cb-switch .state label:after,
.cb.cb-switch .state label:before {
    transition: all .5s ease;
    border-radius: 100%;
    left: 0;
    border-color: transparent;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

.cb.cb-switch .state label:after {
    background-color: #bdc3c7!important
}

.cb.cb-switch input:checked~.state:before {
    border-color: #5a656b
}

.cb.cb-switch input:checked~.state label:before {
    opacity: 0
}

.cb.cb-switch input:checked~.state label:after {
    background-color: #5a656b!important;
    left: 1em
}

.cb.cb-switch.cb-fill input:checked~.state:before {
    border-color: #5a656b;
    background-color: #5a656b!important
}

.cb.cb-switch.cb-fill input:checked~.state label:before {
    opacity: 0
}

.cb.cb-switch.cb-fill input:checked~.state label:after {
    background-color: #fff!important;
    left: 1em
}

.cb.cb-switch.cb-slim .state:before {
    height: .1em;
    background: #bdc3c7!important;
    top: calc(50% - .1em)
}

.cb.cb-switch.cb-slim input:checked~.state:before {
    border-color: #5a656b;
    background-color: #5a656b!important
}

.cb.cb-has-hover input:hover~.state:not(.cb-is-hover) {
    display: none
}

.cb.cb-has-hover input:hover~.state.cb-is-hover {
    display: block
}

.cb.cb-has-hover input:hover~.state.cb-is-hover .icon {
    display: block
}

.cb.cb-has-focus input:focus~.state label:before {
    box-shadow: 0 0 3px 0 #bdc3c7
}

.cb.cb-has-indeterminate input[type=checkbox]:indeterminate~.state:not(.cb-is-indeterminate) {
    display: none
}

.cb.cb-has-indeterminate input[type=checkbox]:indeterminate~.state.cb-is-indeterminate {
    display: block
}

.cb.cb-has-indeterminate input[type=checkbox]:indeterminate~.state.cb-is-indeterminate .icon {
    display: block;
    opacity: 1
}

.cb.cb-toggle .state.cb-on {
    opacity: 0;
    display: none
}

.cb.cb-toggle .state .icon,
.cb.cb-toggle .state .svg,
.cb.cb-toggle .state img,
.cb.cb-toggle .state.cb-off {
    opacity: 1;
    display: inherit
}

.cb.cb-toggle .state.cb-off .icon {
    color: #bdc3c7
}

.cb.cb-toggle input:checked~.state.cb-on {
    opacity: 1;
    display: inherit
}

.cb.cb-toggle input:checked~.state.cb-off {
    opacity: 0;
    display: none
}

.cb.cb-plain input:checked~.state label:before,
.cb.cb-plain.cb-toggle .state label:before {
    content: none
}

.cb.cb-plain.cb-plain .icon {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.cb.cb-round .state label:after,
.cb.cb-round .state label:before {
    border-radius: 100%
}

.cb.cb-round.cb-icon .state .icon {
    border-radius: 100%;
    overflow: hidden
}

.cb.cb-round.cb-icon .state .icon:before {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8)
}

.cb.cb-curve .state label:after,
.cb.cb-curve .state label:before {
    border-radius: 20%
}

.cb.cb-smooth .icon,
.cb.cb-smooth .svg,
.cb.cb-smooth label:after,
.cb.cb-smooth label:before {
    transition: all .5s ease
}

.cb.cb-smooth input:checked+.state label:after {
    transition: all .3s ease
}

.cb.cb-smooth input:checked+.state .icon,
.cb.cb-smooth input:checked+.state .svg,
.cb.cb-smooth input:checked+.state img {
    -webkit-animation: zoom .2s ease;
    animation: zoom .2s ease
}

.cb.cb-smooth.cb-default input:checked+.state label:after {
    -webkit-animation: zoom .2s ease;
    animation: zoom .2s ease
}

.cb.cb-smooth.cb-plain input:checked+.state label:before {
    content: '';
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all .5s ease
}

.cb.cb-tada:not(.cb-default) input:checked+.state .icon,
.cb.cb-tada:not(.cb-default) input:checked+.state .svg,
.cb.cb-tada:not(.cb-default) input:checked+.state img,
.cb.cb-tada:not(.cb-default) input:checked+.state label:after,
.cb.cb-tada:not(.cb-default) input:checked+.state label:before {
    -webkit-animation: tada .7s cubic-bezier(.25, .46, .45, .94) 1 alternate;
    animation: tada .7s cubic-bezier(.25, .46, .45, .94) 1 alternate;
    opacity: 1
}

.cb.cb-jelly:not(.cb-default) input:checked+.state .icon,
.cb.cb-jelly:not(.cb-default) input:checked+.state .svg,
.cb.cb-jelly:not(.cb-default) input:checked+.state img,
.cb.cb-jelly:not(.cb-default) input:checked+.state label:after,
.cb.cb-jelly:not(.cb-default) input:checked+.state label:before {
    -webkit-animation: jelly .7s cubic-bezier(.25, .46, .45, .94);
    animation: jelly .7s cubic-bezier(.25, .46, .45, .94);
    opacity: 1
}

.cb.cb-jelly:not(.cb-default) input:checked+.state label:before {
    border-color: transparent
}

.cb.cb-rotate:not(.cb-default) input:checked~.state .icon,
.cb.cb-rotate:not(.cb-default) input:checked~.state .svg,
.cb.cb-rotate:not(.cb-default) input:checked~.state img,
.cb.cb-rotate:not(.cb-default) input:checked~.state label:after,
.cb.cb-rotate:not(.cb-default) input:checked~.state label:before {
    -webkit-animation: rotate .7s cubic-bezier(.25, .46, .45, .94);
    animation: rotate .7s cubic-bezier(.25, .46, .45, .94);
    opacity: 1
}

.cb.cb-rotate:not(.cb-default) input:checked~.state label:before {
    border-color: transparent
}

.cb.cb-pulse:not(.cb-switch) input:checked~.state label:before {
    -webkit-animation: pulse 1s;
    animation: pulse 1s
}

.cb input[disabled] {
    cursor: not-allowed;
    display: none
}

.cb input[disabled]~* {
    opacity: .5
}

.cb.cb-locked input {
    display: none;
    cursor: not-allowed
}

.cb input:checked~.state.cb-primary label:after,
.cb.cb-toggle .state.cb-primary label:after {
    background-color: #428bca!important
}

.cb input:checked~.state.cb-primary .icon,
.cb input:checked~.state.cb-primary .svg,
.cb.cb-toggle .state.cb-primary .icon,
.cb.cb-toggle .state.cb-primary .svg {
    color: #fff;
    stroke: #fff
}

.cb input:checked~.state.cb-primary-o label:before,
.cb.cb-toggle .state.cb-primary-o label:before {
    border-color: #428bca
}

.cb input:checked~.state.cb-primary-o label:after,
.cb.cb-toggle .state.cb-primary-o label:after {
    background-color: transparent
}

.cb input:checked~.state.cb-primary-o .icon,
.cb input:checked~.state.cb-primary-o .svg,
.cb input:checked~.state.cb-primary-o svg,
.cb.cb-toggle .state.cb-primary-o .icon,
.cb.cb-toggle .state.cb-primary-o .svg,
.cb.cb-toggle .state.cb-primary-o svg {
    color: #428bca;
    stroke: #428bca
}

.cb.cb-default:not(.cb-fill) input:checked~.state.cb-primary-o label:after {
    background-color: #428bca!important
}

.cb.cb-switch input:checked~.state.cb-primary:before {
    border-color: #428bca
}

.cb.cb-switch.cb-fill input:checked~.state.cb-primary:before {
    background-color: #428bca!important
}

.cb.cb-switch.cb-slim input:checked~.state.cb-primary:before {
    border-color: #245682;
    background-color: #245682!important
}

.cb input:checked~.state.cb-info label:after,
.cb.cb-toggle .state.cb-info label:after {
    background-color: #5bc0de!important
}

.cb input:checked~.state.cb-info .icon,
.cb input:checked~.state.cb-info .svg,
.cb.cb-toggle .state.cb-info .icon,
.cb.cb-toggle .state.cb-info .svg {
    color: #fff;
    stroke: #fff
}

.cb input:checked~.state.cb-info-o label:before,
.cb.cb-toggle .state.cb-info-o label:before {
    border-color: #5bc0de
}

.cb input:checked~.state.cb-info-o label:after,
.cb.cb-toggle .state.cb-info-o label:after {
    background-color: transparent
}

.cb input:checked~.state.cb-info-o .icon,
.cb input:checked~.state.cb-info-o .svg,
.cb input:checked~.state.cb-info-o svg,
.cb.cb-toggle .state.cb-info-o .icon,
.cb.cb-toggle .state.cb-info-o .svg,
.cb.cb-toggle .state.cb-info-o svg {
    color: #5bc0de;
    stroke: #5bc0de
}

.cb.cb-default:not(.cb-fill) input:checked~.state.cb-info-o label:after {
    background-color: #5bc0de!important
}

.cb.cb-switch input:checked~.state.cb-info:before {
    border-color: #5bc0de
}

.cb.cb-switch.cb-fill input:checked~.state.cb-info:before {
    background-color: #5bc0de!important
}

.cb.cb-switch.cb-slim input:checked~.state.cb-info:before {
    border-color: #2390b0;
    background-color: #2390b0!important
}

.cb input:checked~.state.cb-success label:after,
.cb.cb-toggle .state.cb-success label:after {
    background-color: #5cb85c!important
}

.cb input:checked~.state.cb-success .icon,
.cb input:checked~.state.cb-success .svg,
.cb.cb-toggle .state.cb-success .icon,
.cb.cb-toggle .state.cb-success .svg {
    color: #fff;
    stroke: #fff
}

.cb input:checked~.state.cb-success-o label:before,
.cb.cb-toggle .state.cb-success-o label:before {
    border-color: #5cb85c
}

.cb input:checked~.state.cb-success-o label:after,
.cb.cb-toggle .state.cb-success-o label:after {
    background-color: transparent
}

.cb input:checked~.state.cb-success-o .icon,
.cb input:checked~.state.cb-success-o .svg,
.cb input:checked~.state.cb-success-o svg,
.cb.cb-toggle .state.cb-success-o .icon,
.cb.cb-toggle .state.cb-success-o .svg,
.cb.cb-toggle .state.cb-success-o svg {
    color: #5cb85c;
    stroke: #5cb85c
}

.cb.cb-default:not(.cb-fill) input:checked~.state.cb-success-o label:after {
    background-color: #5cb85c!important
}

.cb.cb-switch input:checked~.state.cb-success:before {
    border-color: #5cb85c
}

.cb.cb-switch.cb-fill input:checked~.state.cb-success:before {
    background-color: #5cb85c!important
}

.cb.cb-switch.cb-slim input:checked~.state.cb-success:before {
    border-color: #357935;
    background-color: #357935!important
}

.cb input:checked~.state.cb-warning label:after,
.cb.cb-toggle .state.cb-warning label:after {
    background-color: #f0ad4e!important
}

.cb input:checked~.state.cb-warning .icon,
.cb input:checked~.state.cb-warning .svg,
.cb.cb-toggle .state.cb-warning .icon,
.cb.cb-toggle .state.cb-warning .svg {
    color: #fff;
    stroke: #fff
}

.cb input:checked~.state.cb-warning-o label:before,
.cb.cb-toggle .state.cb-warning-o label:before {
    border-color: #f0ad4e
}

.cb input:checked~.state.cb-warning-o label:after,
.cb.cb-toggle .state.cb-warning-o label:after {
    background-color: transparent
}

.cb input:checked~.state.cb-warning-o .icon,
.cb input:checked~.state.cb-warning-o .svg,
.cb input:checked~.state.cb-warning-o svg,
.cb.cb-toggle .state.cb-warning-o .icon,
.cb.cb-toggle .state.cb-warning-o .svg,
.cb.cb-toggle .state.cb-warning-o svg {
    color: #f0ad4e;
    stroke: #f0ad4e
}

.cb.cb-default:not(.cb-fill) input:checked~.state.cb-warning-o label:after {
    background-color: #f0ad4e!important
}

.cb.cb-switch input:checked~.state.cb-warning:before {
    border-color: #f0ad4e
}

.cb.cb-switch.cb-fill input:checked~.state.cb-warning:before {
    background-color: #f0ad4e!important
}

.cb.cb-switch.cb-slim input:checked~.state.cb-warning:before {
    border-color: #c77c11;
    background-color: #c77c11!important
}

.cb input:checked~.state.cb-danger label:after,
.cb.cb-toggle .state.cb-danger label:after {
    background-color: #d9534f!important
}

.cb input:checked~.state.cb-danger .icon,
.cb input:checked~.state.cb-danger .svg,
.cb.cb-toggle .state.cb-danger .icon,
.cb.cb-toggle .state.cb-danger .svg {
    color: #fff;
    stroke: #fff
}

.cb input:checked~.state.cb-danger-o label:before,
.cb.cb-toggle .state.cb-danger-o label:before {
    border-color: #d9534f
}

.cb input:checked~.state.cb-danger-o label:after,
.cb.cb-toggle .state.cb-danger-o label:after {
    background-color: transparent
}

.cb input:checked~.state.cb-danger-o .icon,
.cb input:checked~.state.cb-danger-o .svg,
.cb input:checked~.state.cb-danger-o svg,
.cb.cb-toggle .state.cb-danger-o .icon,
.cb.cb-toggle .state.cb-danger-o .svg,
.cb.cb-toggle .state.cb-danger-o svg {
    color: #d9534f;
    stroke: #d9534f
}

.cb.cb-default:not(.cb-fill) input:checked~.state.cb-danger-o label:after {
    background-color: #d9534f!important
}

.cb.cb-switch input:checked~.state.cb-danger:before {
    border-color: #d9534f
}

.cb.cb-switch.cb-fill input:checked~.state.cb-danger:before {
    background-color: #d9534f!important
}

.cb.cb-switch.cb-slim input:checked~.state.cb-danger:before {
    border-color: #a02622;
    background-color: #a02622!important
}

.cb.cb-bigger .icon,
.cb.cb-bigger .img,
.cb.cb-bigger .svg,
.cb.cb-bigger label:after,
.cb.cb-bigger label:before {
    font-size: 1.2em!important;
    top: calc((0% - (100% - 1em)) - 35%)!important
}

.cb.cb-bigger label {
    text-indent: 1.7em
}

@media print {
    .cb .state .icon,
    .cb .state label:after,
    .cb .state label:before,
    .cb .state:before {
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact
    }
}

.cb {
    margin-right: 0;
    white-space: normal;
}

.cb .state label {
    text-indent: 20px;
    line-height: 20px;
}

.cb .state label > span {
    display: inline-block;
    padding-left: 1.8em;
    line-height: 1.3em;
}

.cb .state label::after, .cb .state label::before {
    top: 1px;
}