@media only screen and (max-width: 1200px) {
    .all-slide-a {
        width: 12.5%;
    }
}

@media only screen and (max-width: 1000px) {
    #navbar-live-casino-link {
        display: none;
    }

    .navbar-login-btn {
        padding: 6px 20px;
        font-size: 12px;
    }

    .navbar-signup-btn {
        font-size: 12px;
        width: 140px;
    }

    .navbar-signup-btn:before {
        right: -40px;
    }

    .navbar-signup-btn i {
        margin-left: 25px;
    }

    .search-panel {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .search-panel-searchbar {
        width: 100%;
    }

    .search-panel-searchbar input {
        width: calc(100% - 60px);
    }

    .search-panel-results {
        padding: 5px 0;
    }

    .all-slide-a {
        width: 14.285714%;
    }

    .featured-video-a {
        width: 100%;
        height: 300px;
    }

    .featured-info {
        width: 100%;
    }

    .featured-content {
        max-height: none;
    }
}

@media only screen and (max-width: 900px) {
    .game-slide-a {
        width: 25%;
    }

    .featured-slide-a {
        width: 50%;
    }

    .all-slide-a {
        width: 16.666666%;
    }
}

@media only screen and (max-width: 800px) {
    .signup-panel {
        flex-direction: column;
        width: 400px;
        top: 45%;
    }

    .signup-col-1 {
        width: 100%;
        min-height: 300px;
        height: 300px;
    }

    .signup-col-1 {
        width: 100%;
        min-height: 300px;
        height: 300px;
        background-size: cover;
        background-position: center; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup-promo-text {
        margin: 0;
    }

    .signup-col-2 {
        width: 100%;
    }

    .all-slide-a {
        width: 20%;
    }
}

@media only screen and (max-width: 750px) {
    .game-slide-a {
        width: 33.3333333333%;
    }

    .featured-slide-a {
        width: 50%;
    }

    .all-slide-a {
        width: 25%;
    }
}

@media only screen and (max-width: 700px) {
    #navbar-slots-link {
        display: none;
    }

    .all-slide-a {
        width: 33.333333%;
    }
}

@media only screen and (max-width: 600px) {
    .game-slide-a {
        width: 50%;
    }

    .featured-slide-a {
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    #navbar-sports-link {
        display: none;
    }

    .navbar-search {
        position: absolute;
        right: 0;
        margin: 0;
    }

    .navbar-login-btn {
        display: none;
    }

    .navbar-signup-btn {
        display: none;
    }

    .navbar-bottom {
        display: flex;
    }

    .navbar-home {
        display: none;
    }

    .carousel-desc {
        padding: 0;
        position: absolute;
        text-align: center;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }

    .signup-panel {
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        margin: 0;
        height: 100%;
    }

    .login-panel-wrapper {
        border-radius: 0;
        top: 0;
        left: 0;
        transform: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .login-panel {
        width: 100%;
    }

    .login-signup {
        border-radius: 0;
        position: absolute;
        bottom: 0;
    }

    .modal-close {
        top: 0;
        right: 0;
    }

    .modal {
        position: fixed;
    }

    footer {
        margin-bottom: 200px;
    }

    .footer-footer {
        text-align: center;
    }

    .footer-footer-2 {
        display: block;
        float: none;
    }
}