<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">Withdraw</span>
                    <span class="settings-content-header-subtitle">Withdraw your winnings into your bank
                        account</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-balance-item-wrapper-full">
                        <div class="settings-balance-item">
                            <span class="settings-content-title">
                                Total withdrawable balance
                            </span>
                            <span class="settings-content-subtitle">
                                Total amount you are currently able to withdraw
                            </span>
                            <div class="settings-balance-panel settings-balance-panel-nobtn">
                                <span class="settings-balance-amount-centered">$500.00</span>
                                <!-- <button class="settings-balance-panel-button" id="settings-balance-panel-deposit-button">
                                            +
                                        </button> -->
                            </div>

                            <span class="settings-content-title">
                                Withdraw
                            </span>
                            <span class="settings-content-subtitle">
                                Specify your details to withdraw your winnings
                            </span>

                            <form>
                                <div class="withdraw-div" style="margin-top: 5px;">
                                    <!-- <span class="withdraw-text">From: </span> -->
                                    <label for="withdraw-from">Bank Name: </label>
                                    <select id="withdraw-from">
                                        <option>Maybank</option>
                                        <option>Public Bank</option>
                                    </select>
                                </div>

                                <div class="withdraw-acc-wrapper">
                                    <label for="withdraw-acc-input">Account Number: </label>
                                    <div class="withdraw-acc">

                                        <input class="settings-withdraw-input" type="text" id="withdraw-acc-input"
                                            placeholder="1234567890" required>

                                    </div>
                                </div>

                                <div style="display: inline-block; width: 50%;">
                                    <label for="withdraw-amt-input">Amount: </label>
                                    <div class="withdraw-amt">

                                        <input class="settings-withdraw-input" type="text" id="withdraw-amt-input"
                                            placeholder="$100" required>

                                    </div>
                                </div>

                                <div class="withdraw-acc-wrapper">
                                        <label for="withdraw-acc-input">Account Name: </label>
                                        <div class="withdraw-acc">
    
                                            <input class="settings-withdraw-input" type="text" id="withdraw-acc-input"
                                                placeholder="John Doe" required>
    
                                        </div>
                                    </div>
                            </form>
                            <button class="settings-button settings-withdraw-button">Withdraw</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>