.withdraw-div {
    display: inline-block;
    padding: 5px 0;
    width: 50%;
}

label {
    display: inline-block;
    min-width: 120px;
    font-size: 13px;
    color: rgb(218, 218, 218);
}

select {
    width: 90%;
    margin: 20px 0;
    padding: 5px  5px;
}

.withdraw-amt {
    background: #252b38;
    margin: 20px 0;
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 500px;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.withdraw-acc {
    background: #252b38;
    margin: 20px 0;
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 500px;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.withdraw-acc-wrapper {
    width: 50%;
    display: inline-block;
}