<!-- SEARCH MODAL -->
<div class="search-modal">
  <div class="search-panel">
    <div class="search-panel-searchbar">
      <i class="far fa-search grey-clickable"></i>
      <input type="text" id="searchbar" name="" placeholder="Game name">
    </div>
    <div class="search-panel-filters">
      <i class="fas fa-filter grey-clickable"></i>
      <div class="search-filter-wrapper">
        <div class="search-filter grey-clickable" id="category-filter">
          <span>Category</span>
          <div class="search-filter-arrow ml-1"></div>
        </div>
        <div class="search-filter-dropdown" id="category-filter-dropdown">
          <ul>
            <li>
              <div class="cb cb-default cb-fill cb-smooth">
                <input type="checkbox" />
                <div class="state ml-3">
                  <label>Arcade</label>
                </div>
              </div>
            </li>
            <li>
              <div class="cb cb-default cb-fill cb-smooth">
                <input type="checkbox" />
                <div class="state ml-3">
                  <label>Cards</label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-panel-results">
      <a href="#">
        <div class="search-panel-result-wrapper">
          <div class="search-panel-result">
            <img src="assets/img/searchtn.jpg">
            <label>Great Rhino</label>
            <i class="far fa-arrow-right"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>