<div class="space-50">
</div>

<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">Personal Settings</span>
                    <span class="settings-content-header-subtitle">Configure details pertaining to your account</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-user-wrapper">
                        <form class="settings-user-forms">
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="text" id="settings-user-firstname" required
                                    value="Kiki" style="border-radius: 5px 0 0 0; border-right: 1px solid #d6d6d6;">
                                <label for="settings-user-firstname">First Name</label>
                            </div>
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="text" id="settings-user-lastname" required
                                    value="L." style="border-bottom: 1px solid #dedfe3; border-radius: 0 5px 0 0;">
                                <label for="settings-user-lastname">Last Name</label>
                            </div>
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="text" id="settings-user-phone" required value="+6010101010"
                                    style="border-bottom: 1px solid #dedfe3; border-radius: 0; border-right: 1px solid #d6d6d6;">
                                <label for="settings-user-phone">Phone Number</label>
                            </div>
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="text" id="settings-user-country" required
                                    value="Korea" style="border-bottom: 1px solid #dedfe3; border-radius: 0;">
                                <label for="settings-user-country">Country</label>
                            </div>
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="password" id="settings-user-password" required
                                    value="1234" style="border-right: 1px solid #d6d6d6;">
                                <label for="settings-user-password">Password</label>
                            </div>
                            <div class="settings-user-form">
                                <input class="settings-user-input" type="password" id="settings-user-password-confirm"
                                    required value="1234">
                                <label for="settings-user-password-confirm">Confirm Password</label>
                            </div>
                        </form>
                        <button class="settings-button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>