<!-- SIDEBAR -->
<nav class="navbar-sidebar">
  <button class="sidebar-close">
    X
  </button>
  <ul>
    <li class="sidebar-item">
      <a class="nav-item-temp" routerLink="/">Home</a>
    </li>
    <!-- <a class="nav-item-temp" routerLink="/games">Games</a> -->
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/balance">Balance</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/deposit">Deposit</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/withdraw">Withdraw</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/transfer">Transfer</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/history">History</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" routerLink="/settings">Settings</a>
    </li>
    <li class="sidebar-item">
      <a class="nav-item-temp" *ngIf="currentUser" (click)="logout()">Logout</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/about-us">About Us</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/faq">FAQ</a>
    </li>
    <li class="sidebar-item">
      <a routerLink="/terms">Terms</a>
    </li>
    <li class="sidebar-item">
      <a href="#">Get In Touch</a>
    </li>
  </ul>
</nav>