<!-- SPACE -->
<div class="space-50">
</div>

<ul>
  <li>
    <h1>Authenticated Trusted Malaysia Online Casino Gambling Website</h1>
    <p>MYWIN28 is Malaysia’s leading Online Casino and Sportsbook Gaming Establishment. Online Casino gaming plays an
      integral
      role in the entertainment field, and we believe that, with self-control and limitations, everyone deserves a
      chance to
      utilize their luck on some the fun and games. <br>
      Play all sorts of exciting games, including card variations such as baccarat, blackjack and poker; classic and
      progressive slots machines, European and American Roulette, Sic Bo, Keno, Lottery, Scratch Cards, and many more.
      For
      sports fanatics, be part of the game by cheering and betting on your favorite sports team at any time and
      anywhere. Let
      our games spark unexpected money gains and jackpots for you! At IBET88, we strive to give you the best user
      experience.
      Our commitments include:
    </p>
  </li>
  <li>
    <h1>HASSLE-FREE AND QUICK MONEY TRANSACTIONS</h1>
    <p>We understand the excitement of wanting to play and loathing the wait, therefore we assure you that all deposit
      and
      withdrawal transactions are hassle-free, speedy and secured.</p>
  </li>
  <li>
    <h1>24-HOURS CUSTOMER SERVICE</h1>
    <p>Our Customer Service Representatives on Live Chat are online 24 hours a day, 7 days a week. Each of them has
      gone
      through a rigorous product, services and hospitality training to ensure professional support and assistance when
      at
      your service.</p>
  </li>
  <li>
    <h1>DEPOSIT AND WITHDRAWAL METHODS</h1>
    <p>Online bank transfer is our principal transaction method. We also accept manual transfers via ATM (Automated
      Teller
      Machine) or CDM (Cash Deposit Machine) for those who don’t have online banking. Credit card and third-party
      payment
      merchants are currently not available, but we are working our way on implementing it to serve you better.</p>
  </li>
  <li>
    <h1>FULLY COMPLIANT AND LICENSED</h1>
    <p>IBET88 is fully licensed in the Philippines under First Cagayan Leisure and Resort Corporation (FCLRC), meaning
      that we
      are obligated to adhere to the rules and regulations in one of worldwide’s most strictly controlled gaming
      regulatory
      jurisdiction. All your personal information is kept secured and confidential under an SSL encryption at all
      times, and
      we do not sell or share any information to any third parties.</p>
  </li>
</ul>

<!-- SPACE -->
<div class="space-50">
</div>