/* You can add global styles to this file, and also import other style files */

/* TEMPORARY*/
.bg-dark-temp {
    background-color: #343a40!important;
}

.navbar-expand-temp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-temp {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    color: white;
}

.navbar-nav-temp {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.nav-item-temp {
    padding: 10px 20px;
}
/* TEMPORARY*/

@font-face {
    font-family: Quantify;
    src: url('fonts/quantify.ttf');
}

html,
body {
    /* height: 100%;
    margin: 0; */
}

a {
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
    background: #1c1d27;
    overflow-x: hidden !important;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none !important;
    color: inherit;
}

.site-wrapper {
    transition: .2s ease-in;
    min-height: 100%;
    /* margin-bottom: -150px; */
}

.site-wrapper-pushed {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    transition: .2s ease-in;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.footer-pushed {
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
    transition: .2s ease-in;
    overflow: hidden;
    width: 100%;
}

/* MISC */
.grey-clickable {
    color: rgb(190, 190, 190);
    transition: 0.3s;
}

.grey-clickable:hover {
    cursor: pointer;
    color: white;
}

.tint {
    background: rgba(0, 0, 0, 0.685);
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    display: none;
}

.tint-active {
    display: initial;
}

.modal {
    background: rgba(0, 0, 0, 0.685);
    height: 100%;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    display: none;
}

.modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    background: rgb(100, 100, 100);
    color: white;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    transition: 0.3s;
}

.modal-close:hover {
    background: black;
}

.modal-active {
    display: initial;
}

.navbar-padding {
    padding: 65px 0 0;
}

.navbar-padding-2 {
    padding: 80px 0 0;
}

.space-25 {
    margin: 25px 0 0;
}

.space-50 {
    margin: 50px 0 0;
}

.space-100 {
    margin: 100px 0 0;
}

.gem-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='50' viewBox='0 0 57 50'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%233998FB' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M36.1 8.469l8.192-7.87 8.959 4.049'/%3E%3Cpath stroke='%233998FB' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M15.542 18.07l1.474 11.004 24.766 19.585L.6 29.236l16.416-.162L43.019 16.93 53.25 4.648 41.78 48.659l1.24-31.729-6.92-8.461-20.56 9.601-12.173 1.643 8.414-8.641L32.362 1.46 44.292.6l4.082 9.902L36.1 8.469l-5.94 14.467-14.618-4.866'/%3E%3Cpath stroke='%233998FB' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M15.542 18.07L8.44 29.159l-5.074-9.446L.6 29.236'/%3E%3Cpath fill='%233998FB' d='M52.591 34.66a4.996 4.996 0 0 0-2.951-2.952.278.278 0 0 1 0-.527 4.996 4.996 0 0 0 2.951-2.95.279.279 0 0 1 .528 0 4.997 4.997 0 0 0 2.95 2.95.278.278 0 0 1 0 .527 4.997 4.997 0 0 0-2.95 2.951.279.279 0 0 1-.528 0M10.884 15.36a7.03 7.03 0 0 0-4.155-4.155.392.392 0 0 1 0-.743 7.032 7.032 0 0 0 4.155-4.154.392.392 0 0 1 .743 0 7.032 7.032 0 0 0 4.155 4.154.392.392 0 0 1 0 .743 7.03 7.03 0 0 0-4.155 4.155.392.392 0 0 1-.743 0'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42px;
    width: 45px;
    /* display: inline-block; */
}

.controller-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59' height='57' viewBox='0 0 59 57'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%2367B425' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M30.198 14.307c1.78-1.259 3.494-2.606 5.835-3.009 4.279-.738 18.1 6.096 21.493 25.774 1.168 6.78-.026 10.349-4.015 11.037-5.044.869-15.947-8.915-24.143-7.502'/%3E%3Cpath d='M29.368 40.607C21.172 42.02 14.175 54.891 9.13 55.76c-3.99.688-6.31-2.275-7.478-9.055-3.393-19.679 7.342-30.746 11.62-31.483 2.074-.358 3.93.146 5.787.676 2.946.841 5.757-1.689 5.236-4.708L22.54 1'/%3E%3Cpath d='M22.336 28.803a5.303 5.303 0 0 1-10.45 1.802 5.303 5.303 0 0 1 10.45-1.802zm13.072-8.778l2.086 10.492m4.213-6.237l-10.512 1.982'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42px;
    width: 45px;
}

.dice-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='61' viewBox='0 0 73 61'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath stroke='%234BB3AF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M43.952 21.162l1.488-1.069a8.853 8.853 0 0 1 7.322-1.396l9.491 2.384c3.45.848 4.885 3.383 3.44 4.451L51.006 36.374a9.19 9.19 0 0 1-8.989 1.092l-5.674-2.323'/%3E%3Cpath stroke='%234BB3AF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M31.638 39.972l4.43 11.894a4.645 4.645 0 0 0 2.178 2.46L48.33 58.73c3.352 1.24 5.587 1.306 5.008-.456a7536.504 7536.504 0 0 1-5.38-16.408c-.924-2.88-5.255-4.147-5.255-4.147M67.1 25.337l4.657 16.532a4.714 4.714 0 0 1-1.62 4.89l-15.88 12.303M28.894 40.273c1.8-.123 4.683-1.255 4.715-2.724l-8.713-19.758a4.264 4.264 0 0 0-4.358-2.556L2.941 17.11A2.617 2.617 0 0 0 .838 20.8l8.46 18.742a4.263 4.263 0 0 0 4.134 2.411l15.462-1.679z'/%3E%3Cpath stroke='%234BB3AF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M21.375 15.231s2.604-.09 3.767-1.696l8.18-11.302c.523-.722-.078-1.717-.96-1.59L15.065 3.141a4.457 4.457 0 0 0-2.795 1.566L1.147 18.113'/%3E%3Cpath stroke='%234BB3AF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M34.274 37.72l9.218-11.466a4.99 4.99 0 0 0 .432-4.767s-8.05-18.592-8.401-19.335c-.351-.744-1.3-1.778-3.161-1.509'/%3E%3Cpath fill='%234BB3AF' d='M48.495 41.928s-.444-2.855 2.258-4.772c-2.24.354-5.404 1.523-5.404 1.523l3.146 3.249zM25.503 17.94s-1.238-2.25.31-4.47c-1.797.845-2.72 1.954-2.72 1.954l2.41 2.516zm30.15 39.398c-.642.49-1.895.71-2.547-1.336-.59-.437-.59-.234-.59-.234l1.093 3.453 2.234-1.25s.45-1.123-.19-.633M35.516 3.362c-.481-1.135-1.451-1.391-2-.61-.391-.374 0-.656 0-.656L33.83.6s2.603 2.427 1.687 2.762m31.647 24.064c-.306-.776-1.176-1.318-2.588-.459-.412-.4 2.365-2.192 2.365-2.192s.53 3.427.223 2.651m-31.875 8.422s-1.195 1.567-1.901-.07c-.506.566.167 2.319.167 2.319l1.016-.533.718-1.716z'/%3E%3Cpath fill='%234BB3AF' d='M34.725 37.975s-1.522 1.746-3.38 2.2c1.311-1.1 1.718-2.61 1.155-3.954.844.578 2.225 1.754 2.225 1.754m-13.403-7.079c-.522.605-.3 1.652.495 2.338.796.687 1.864.753 2.386.148s.3-1.652-.495-2.338c-.796-.687-1.864-.753-2.386-.148m-5.536-3.67c-.522.605-.3 1.652.495 2.338.796.687 1.864.753 2.386.148s.3-1.652-.495-2.338c-.796-.687-1.864-.753-2.386-.148m-5.538-3.554c-.522.605-.3 1.652.495 2.338.796.687 1.864.753 2.386.148.521-.605.3-1.652-.495-2.338-.796-.687-1.864-.753-2.386-.148M22.096 9.226c-.223-.498-1.181-.553-2.14-.123-.959.43-1.555 1.183-1.332 1.68.223.498 1.182.553 2.14.123.959-.43 1.555-1.182 1.332-1.68m-3.96-2.782c-.223-.498-1.181-.553-2.14-.123-.96.43-1.555 1.183-1.332 1.68.223.498 1.182.553 2.14.123.959-.43 1.555-1.182 1.332-1.68m15.467 2.952c-.6.072-.992.921-.876 1.896.117.975.699 1.707 1.299 1.635.6-.072.992-.92.876-1.896-.117-.975-.7-1.707-1.3-1.635m2.386 5.958c-.6.072-.992.921-.876 1.896.117.975.7 1.707 1.3 1.635.6-.072.991-.92.875-1.896-.117-.975-.699-1.707-1.299-1.635m2.561 5.729c-.6.072-.992.921-.876 1.896.117.975.699 1.707 1.299 1.635.6-.072.992-.92.876-1.896-.117-.975-.7-1.707-1.3-1.635m-8.528-6.645c-.6.072-.993.92-.877 1.896.117.975.7 1.707 1.3 1.635.6-.071.991-.92.875-1.896-.117-.975-.699-1.707-1.299-1.635m2.386 5.958c-.6.072-.992.921-.876 1.896.117.975.699 1.707 1.299 1.635.6-.072.992-.92.876-1.896-.117-.975-.7-1.707-1.3-1.635m2.561 5.729c-.6.072-.992.92-.876 1.896.117.975.7 1.707 1.3 1.635.6-.071.991-.92.875-1.896-.117-.975-.699-1.707-1.299-1.635m23.947 20.104c-.688-.406-1.68-.003-2.213.902-.535.905-.411 1.968.277 2.374.688.407 1.679.003 2.214-.902.534-.905.41-1.968-.278-2.374m2.63-6.099c-.688-.406-1.68-.003-2.213.902-.535.905-.411 1.968.277 2.374.688.407 1.679.003 2.214-.902.534-.905.41-1.968-.278-2.374m2.515-6.081c-.688-.406-1.679-.003-2.213.902-.535.905-.41 1.968.277 2.374.688.407 1.68.003 2.214-.902s.41-1.968-.278-2.374M40.949 50.758c.488-.243.505-1.203.036-2.143-.468-.941-1.243-1.507-1.732-1.263-.488.243-.504 1.202-.036 2.143.468.941 1.244 1.506 1.732 1.263m2.621-4.069c.487-.243.504-1.203.035-2.143-.468-.941-1.243-1.507-1.732-1.263-.488.243-.504 1.202-.036 2.143.468.94 1.244 1.506 1.732 1.263m7.546-19.323c-.268-.599-1.42-.665-2.57-.148-1.152.517-1.868 1.42-1.6 2.017.268.599 1.419.665 2.57.148 1.152-.517 1.868-1.42 1.6-2.017m16.577-2.161s-.433-1.662-1.672-2.688c-.516 1.016-.28 1.016-.28 1.016l1.061 2.11.891-.438z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 42px;
    width: 45px;
}

.present-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='59' viewBox='0 0 54 59'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%239F60B8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M48.233 22.034l4.078 26.162a4.064 4.064 0 0 1-3.39 4.642l-33.266 5.186a4.065 4.065 0 0 1-4.643-3.39l-2.605-17.77'/%3E%3Cpath d='M36.897 23.801L4.981 28.776a2.439 2.439 0 0 1-2.785-2.033L1.03 19.255a2.44 2.44 0 0 1 2.034-2.785l44.728-6.972a2.438 2.438 0 0 1 2.785 2.033l1.167 7.488a2.439 2.439 0 0 1-2.033 2.785l-4.427.69m-20.466-9.457l4.955-9.141a5.53 5.53 0 1 1 9.817 5.087l-.746 1.506M24.512 12.52l-6.085-6.812a5.529 5.529 0 1 0-8.381 7.21l1.072 1.294m14.164-1.473l6.625 42.25'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 49px;
    width: 45px;
}

.body-bg-game {
    background-image: url(/assets/img/gamebg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



/* MAIN CONTENT */
.main-content {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
}

/* MAIN NAVBAR */
.navbar-main {
    display: flex;
    align-items: center;
    color: rgb(190, 190, 190);
    height: 65px;
    z-index: 500;
    user-select: none;
    position: fixed;
    width: 100%;
    transition: all .2s;
    flex-wrap: wrap;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-bg-initial {
    background-color: #1c1d27;
}

.navbar-bg {
    background-color: #12283A;
}

.navbar-bg-2 {
    background-color: #1c1d27;
}

.navbar-btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    transition: 0.3s;
}

.navbar-btn:hover {
    cursor: pointer;
    color: white;
}

.navbar-btn-active {
    color: white;
    position: relative;
}

.navbar-btn-active::before {
    position: absolute;
    content: '';
    top: 0;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(76, 147, 240);
}

/* .navbar-burger {
    position: relative;
    background-color: #1C3D5A;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar-burger::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 30px;
    transform: rotate(-10deg);
    background-color: #12283A;
    top: 0px;
    left: 75px;
} */
.navbar-burger {
    position: relative;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.navbar-burger::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    transform: rotate(-10deg);
    background-color: #1C3D5A;
    top: -10px;
    left: -25px;
    z-index: 90;
}

.navbar-burger:hover {
    cursor: pointer;
}

.navbar-burger i {
    position: relative;
    z-index: 100;
    margin-left: -10px;
}

.navbar-search {
    margin: 0 0 0 20px;
    padding: 0 20px;
}

.navbar-home {}

.navbar-home i {
    align-self: center;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand h1 {
    font-family: Quantify;
    display: inline-block;
    color: white;
    user-select: none;
    /* margin: 0 auto; */
}

.navbar-login-btn {
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white;
    padding: 8px 40px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 0 auto;
    white-space: nowrap;
    transition: .3s;
    position: relative;
    overflow: hidden;

}

.navbar-login-btn:hover {
    /* background-image: linear-gradient(90deg,#93d343,#60ab2e); */
    background-color: #60ab2e;
    border-color: #60ab2e;
    transition: .4s ease;
}

.navbar-profile-btn {
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white;
    padding: 8px 40px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 0 auto;
    white-space: nowrap;
    transition: .3s;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.navbar-profile-btn:hover {
    /* background-image: linear-gradient(90deg,#93d343,#60ab2e); */
    background-color: #60ab2e;
    border-color: #60ab2e;
    transition: .4s ease;
}

/* .navbar-signup-btn {
    height: 100%;
    width: 170px;
    background-image: linear-gradient(to right, #23a4f4, #1797ef, #1889e9, #237be2, #316dd9);
    overflow: hidden;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: .12s;
    white-space: nowrap;
}

.navbar-signup-btn::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 30px;
    transform: rotate(10deg);
    background-color: #12283A;
    top: -20px;
    left: -10px;
} */
.navbar-signup-btn {
    height: 100%;
    width: 170px;
    background: transparent;
    overflow: hidden;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: .12s;
    white-space: nowrap;
}

.navbar-signup-btn::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 150px;
    transform: rotate(10deg);
    background-image: linear-gradient(to right, #23a4f4, #1797ef, #1889e9, #237be2, #316dd9);
    top: -20px;
    right: -10px;
    z-index: 50;
}

.navbar-signup-btn i {
    margin-left: 15px;
    position: relative;
    z-index: 100;
}

.navbar-signup-btn span {
    z-index: 100;
    position: relative;
}

/* BOTTOM NAVBAR */
.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    display: none;
}

.navbar-btm-btn {
    width: 50%;
    height: 60px;
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-btm-login {
    background-image: linear-gradient(90deg, #93d343, #60ab2e);
}

.navbar-btm-signup {
    background-image: linear-gradient(90deg, #3598fe, #4561ec);
}

/* NAVBAR SUB */
.navbar-sub {
    display: flex;
    align-items: center;
    color: rgb(190, 190, 190);
    height: 65px;
    z-index: 500;
    user-select: none;
    width: 100%;
    transition: all .2s;
    /* background: rgb(36, 36, 36); */
    justify-content: space-evenly;
    
}

.navbar-sub-btn {
    /* border: 1px solid rgba(128, 128, 128, 0.39); */
    color: white;
    padding: 8px 40px;
    border-radius: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.navbar-icon {
    margin-right: 10px;
}

.navbar-sub-btn:hover {
    /* background-image: linear-gradient(90deg,#93d343,#60ab2e); */
    background-color: #60ab2e;
    border-color: #60ab2e;
    transition: .4s ease;
    cursor: pointer;
}

/* SEARCH MODAL */
.search-modal {
    background: rgba(34, 34, 34, 0.911);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    position: fixed;
}

.search-modal-active {
    display: inherit;
}

.search-panel {
    margin: 0 auto;
    width: 800px;
    /* background: white; */
    color: rgb(190, 190, 190);
    padding: 50px 0 0;
    position: relative;
    top: 20%;
}

.search-panel-searchbar input {
    border: none !important;
    outline: none !important;
    font-size: 40px;
    font-weight: 300;
    background: none;
    /* width: 100%; */
    color: white;
    display: inline-block;
}

.search-panel-searchbar input::placeholder {
    color: rgba(255, 255, 255, 0.349);
}

.search-panel-searchbar i {
    display: inline-block;
    vertical-align: super;
    padding: 5px 20px;
}

.search-panel-filters {
    font-size: 14px;
    user-select: none;
}

.search-panel-filters i {
    padding: 10px 20px;
    display: inline-block;
}

.search-filter-wrapper {
    display: inline-block;
}

.search-filter {
    display: inline-block;
    padding: 15px 20px;
}

.search-filter:hover .search-filter-arrow {
    border-top: 5px solid rgb(76, 180, 240);
}

.search-filter-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(76, 147, 240);
    transition: 0.3s;
}

.search-filter-active {
    color: white;
    /* background: #131521; */
}

.search-filter-dropdown {
    display: none;
    position: absolute;
    background: #131521;
    width: 200px;
    animation-duration: 0.3s;
}

.search-filter-dropdown-active {
    display: inherit;
}

.search-filter-dropdown ul {
    list-style: none;
    padding: 0;
}

.search-filter-dropdown ul li {
    padding: 10px 10px;
}

.search-panel-results {
    width: 100%;
    padding: 5px 20px;
}

.search-panel-result-wrapper {
    background: #282d3a;
}

.search-panel-result {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
}

.search-panel-result img {
    height: 45px;
    width: 30px;
}

.search-panel-result label {
    margin-left: 20px;
}

.search-panel-result i {
    margin: 0 0 0 auto;
}

/* CAROUSEL */
.main-carousel {
    height: 400px;
    background: #131521;
}

.carousel-cell {
    max-width: 1000px;
    width: 85%;
    height: 100%;
    margin: 0 20px;
}

.carousel-desc {
    padding: 150px 60px;
}

.carousel-desc h1 {
    font-size: 45px;
    letter-spacing: 1px;
    padding: 0 0 20px;
}

.carousel-desc span {
    opacity: 0.6;
    font-weight: 300;
    font-size: 20px;
    display: block;
    padding: 0 0 40px;
}

.carousel-desc-button {
    outline: none !important;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
}

#slide1 {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to left, rgba(0, 0, 0, .0), rgba(0, 0, 0, .8)),
        url('/assets/img/carousel1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

#slide2 {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to left, rgba(0, 0, 0, .0), rgba(0, 0, 0, .8)),
        url('/assets/img/carousel2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#slide3 {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to left, rgba(0, 0, 0, .0), rgba(0, 0, 0, .8)),
        url('/assets/img/carousel3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* LOGIN MODAL */
#login-modal {}

.login-panel-wrapper {
    background: white;
    width: 380px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 50%;
    border-radius: 10px;
}

.login-panel {
    padding: 35px 30px 15px;
}

.login-panel h1 {
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    color: #090b0f;
    font-weight: 400;
}

.login-panel-forms {
    margin: 20px 0;
    /* border: 1px solid #dedfe3; */
    border-radius: 5px;
}

.login-panel-form {
    position: relative;
    height: 50px;
}

.login-panel-input {
    display: block;
    outline: none !important;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.login-panel-input:focus~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.login-panel-input:focus {
    padding: 18px 20px 0;
}

.login-panel-input:valid~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.login-panel-input:valid {
    padding: 18px 20px 0;
}

/* .login-panel-input:invalid ~ label {
    color: #dd4545;
} */
#login-username {
    border-radius: 5px 5px 0 0;
    border: 1px solid #dedfe3;
}

#login-password {
    border-radius: 0 0 5px 5px;
    border: 1px solid #dedfe3;
    border-width: 0px 1px 1px;
}

.login-panel-input~label {
    position: absolute;
    font-size: 14px;
    transition: all .2s;
    text-align: left;
    left: 20px;
    line-height: 50px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    top: 0;
}

.login-panel a {
    font-size: 12px;
    color: #a1a1a1;
    margin: 0 0 0 10px;
}

.login-panel button {
    display: block;
    background-image: linear-gradient(90deg, #93d343, #60ab2e);
    padding: 15px 0;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-top: 15px;
}

.login-signup {
    width: 100%;
    background-image: linear-gradient(90deg, #3598fe, #4561ec);
    color: white;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
    font-size: 11px;
}

.login-signup:hover {
    cursor: pointer;
}

.pl-3 {

}

/* SIGNUP MODAL */
#signup-modal {
    display: none;
}

.signup-panel {
    background: white;
    width: 680px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 50%;
    border-radius: 10px;
    display: flex;
}

.signup-col-1 {
    width: 45%;
    background-image: url(/assets/img/signup.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 480px;
    color: white;
    box-shadow: inset 0 -9px 130px 30px rgba(0, 0, 0, .5);
}

.signup-promo-text {
    margin: 160% 0 0;
    text-align: center;
}

.signup-promo-text h1 {
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
}

.signup-promo-text span {
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;
}

.signup-col-2 {
    width: 55%;
    padding: 30px;
}

.signup-col-2 h1 {
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px;
}

.signup-cb {}

#signup-cb-label {
    font-size: 12px;
}

#signup-cb-label a {
    color: #3499fe;
}

.signup-col-2 button {
    display: block;
    background-image: linear-gradient(90deg, #93d343, #60ab2e);
    padding: 15px 0;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-top: 15px;
}

/* SIDEBAR */
.navbar-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    margin: 0 0 0 -260px;
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    z-index: 1000;
}

.navbar-sidebar ul {
    width: 260px;
    height: 100%;
    padding: 40px 20px 20px;
    margin: 0;
    list-style: none;
    background: #282d3a;
    overflow: hidden;

}

.navbar-sidebar li {
    margin: 0;
}

.navbar-sidebar a {
    color: rgb(190, 190, 190);
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    font-weight: 400;
    transition: 0.3s;
}

.navbar-sidebar a:hover {
    color: white;
}

.navbar-sidebar-active {
    margin: 0;
}

.sidebar-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgb(100, 100, 100);
    color: white;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    transition: 0.3s;
}

.sidebar-close:hover {
    background: black;
}

/* GAMES SLIDER */
.slider-section {
    margin: 0 0 50px;
}

.slider-section-head {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 0 30px;
}

.slider-section-head h1 {
    /* display: inline-block; */
    padding: 0 0 0 22px;
    line-height: 45px;
    font-size: 21px;
    font-weight: 400;
}

.slider-btn {
    padding: 5px 8px;
    border: 1px solid rgb(190, 190, 190, 0.2);
    background: none;
    transition: .3s;
}

.slider-prev-btn {
    margin: 0 0 0 auto;
    border-radius: 20px 0 0 20px;
}

.slider-next-btn {
    border-radius: 0 20px 20px 0;
}

.slider-btn:hover {
    background-color: #4561ec;
    transition: .3s;
}

.games-slider {
    overflow: hidden;
    /* display: flex;
    flex-wrap: nowrap; */
    white-space: nowrap;
    font-size: 0;
}

.all-games-box {
    font-size: 0;
}

.game-slide-a {
    display: inline-block;
    width: 20%;
    height: auto;
    transition: .3s;
}

/* .featured-slide-a {
    width: 50%;
} */

.all-slide-a {
    width: 11.1111111111%;
    margin: 0 0 10px;
}

.game-slide-a:hover {
    transform: scale(1.02)
}

.game-slide {
    transition: .3s;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: 0 10px;
}

/* .featured-slide {
    box-shadow: inset 0 0 10px #000000;
    max-height: 340px;
} */

.game-slide img {
    width: 100%;
}

.game-slide:hover>.game-slide-controls,
.game-slide:hover>.featured-slide-controls {
    opacity: 1;
}

.game-slide-controls,
.featured-slide-controls {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-slide-controls span {
    display: block;
    align-self: flex-start;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 20px;
    user-select: none;
    font-size: 12px;
}

.game-slide-controls img {
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.featured-slide-controls img {
    width: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.all-games-load-more-btn {
    border: 1px solid rgba(128, 128, 128, 0.39);
    color: white;
    padding: 8px 40px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 0 auto;
    white-space: nowrap;
    transition: .3s;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    display: block;
}

.all-games-load-more-btn:hover {
    /* background-image: linear-gradient(90deg,#93d343,#60ab2e); */
    background-color: #60ab2e;
    border-color: #60ab2e;
    transition: .4s ease;
}

/* FEATURED */
.featured-content {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
}

.featured-video-a {
    width: 60%;
    height: auto;
}

.featured-video {
    height: 100%;
}

.featured-info {
    width: 40%;
    font-size: 10px;
    /* background-image: url(../assets/img/featuredbg1.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    padding: 30px;
}

.featured-info img {
    display: inline-block;
    width: 60px;
    height: 100px;
}

.featured-info-title {
    margin: 0 0 0 30px;
    display: inline-block;
    vertical-align: top;
}

.featured-info-title h1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.featured-title-rating {
    color: rgb(207, 176, 0);
    display: block;
    margin: 10px 0;
    font-size: 15px;
}

.featured-title-rating i {
    display: inline-block;
    margin: 0 2px;
}

.featured-title-category {
    color: rgb(190, 190, 190);
}

.featured-title-category a {
    color: rgb(76, 147, 240);
}

.gold-category {
    color: gold !important;
    font-weight: 600;
    text-transform: uppercase;
}

.featured-desc {
    margin: 20px 0 0;
    font-size: 14px;
    color: rgb(190, 190, 190);
    line-height: 2;
}

/* FOOTER */
footer {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    height: 250px;
    color: rgb(141, 141, 141, 0.8);
}

footer hr {
    border-width: 0.5px;
    border-color: rgba(141, 141, 141, 0.5);

}

.footer-payments,
.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.footer-links {
    justify-content: space-around;
    font-size: 15px;
    font-weight: 400;
}

.footer-links a:hover {
    color: white;
    transition: .3s;
}

.footer-disclaimer {
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
}

.footer-links {
    margin: 20px 0;
}

.footer-footer {
    margin: 20px;
    font-size: 12px;
}

.footer-footer-1 {
    display: inline-block;
}

.footer-footer-2 {
    float: right;
}

/* GAME CONTAINER */
.game-container {
    background: #131521;
    padding: 0 10px 10px;
    max-width: 1300px;
    width: 100%;
    height: auto;
}

.game-frame {
    height: 60vh;
    width: 100%;
}

/* SETTINGS */
.settings-wrapper {
    display: flex;
    flex-direction: row;
}

.settings-sidebar {
    width: 25%;
    color: white;
    background: #272c39;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.user-circle {
    background: #7eb842;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 24px;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.user-name {
    font-size: 24px;
    display: block;
    font-weight: 400;
}

.user-subtitle {
    color: grey;
    font-size: 13px;
    margin: 5px 0 25px;
    display: block;
}

.sidebar-balance {
    display: flex;
    padding: 0 20px 20px;
    text-align: start;
    align-items: center;
}

.balance-title {
    display: block;
    font-size: 10px;
    color: grey;
    line-height: 15px;
}

.balance-amount {
    display: block;
    font-size: 14px;
}

.sidebar-deposit-button {
    background: #209fb6;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    margin-left: auto;
}

.sidebar-menu {
    text-align: start;
    list-style: none;
    padding: 0;
}

.sidebar-menu-option {
    padding: 20px;
}

.sidebar-menu-option i {
    display: inline-block;
    margin-right: 15px;
    color: grey;
}

.sidebar-menu-option:hover {
    background: #303645;
}

.sidebar-menu-option-active {
    color: #3b9bfb;
    background: #303645;
}

.sidebar-menu-option-active i {
    color: #3b9bfb;
}

.settings-content {
    width: 75%;
    color: white;
    padding: 0 0 0 30px;
}

.settings-content-header {
    display: block;
}

.settings-content-header-title {
    display: block;
    font-size: 24px;
    line-height: 50px;
}

.settings-content-header-subtitle {
    display: block;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.settings-content hr {
    display: block;
    width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    margin: 30px 0 10px;
}

.settings-balance {
    display: flex;
    flex-wrap: wrap;
}

.settings-balance-item-wrapper {
    width: 50%;
}

.settings-balance-item-wrapper-full {
    width: 100%;
}

.settings-balance-item {
    margin: 0 20px 0 0;
}

.settings-content-title {
    display: block;
    font-size: 15px;
    line-height: 50px;
}

.settings-content-subtitle {
    display: block;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.settings-balance-panel {
    background: #252b38;
    margin: 20px 0;
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-balance-panel-nobtn {
    padding: 15px 5px;
}

.settings-balance-amount {
    margin-left: auto;
}

.settings-balance-amount-centered {
    margin: auto;
}

.settings-balance-panel-button {
    width: 40px;
    height: 40px;
    background: #209fb6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 30px;
}

/* PAYMENT MODAL */
#payment-modal {
    display: none;
}

.payment-panel {
    background: white;
    width: 680px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    border-radius: 10px;
    display: flex;
}

.payment-col-1 {
    width: 35%;
    background-image: url(/assets/img/goldbar.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 480px;
    color: white;
    box-shadow: inset 0 -9px 130px 30px rgba(0, 0, 0, .5);
}

.payment-promo-text {
    margin: 130% 0 0;
    text-align: center;
}

.payment-promo-text h1 {
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
}

.payment-promo-text span {
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;
}

.payment-col-2 {
    width: 65%;
    padding: 30px;
}

.payment-col-2 h1 {
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
}

.payment-col-2 h2 {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px;
}

.payment-cb {}

#payment-cb-label {
    font-size: 12px;
}

#payment-cb-label a {
    color: #3499fe;
}

.payment-col-2 button {
    display: block;
    background-image: linear-gradient(90deg, #93d343, #60ab2e);
    padding: 15px 0;
    border-radius: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-top: 15px;
}

.payment-field {
    border-bottom: 2px solid rgb(236, 236, 236);
    width: 100%;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.payment-field-label {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: grey;
    display: block;
}

.payment-field:focus, .payment-field-small:focus {
    outline: none;
    box-shadow: none;
    border-color: #fbcf34;
}

.payment-field-small {
    border-bottom: 2px solid rgb(236, 236, 236);
    width: 100%;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.payment-field-label-small {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: grey;
    display: block;
}

.payment-small-form {
    width: 28%;
    display: inline-block;
}

.settings-user-wrapper {
    width: 100%;
}

.settings-user-forms {
    margin: 20px 0;
    border: 1px solid #dedfe3;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.settings-user-form {
    position: relative;
    height: 50px;
    width: 50%;
}

.settings-user-input {
    display: block;
    outline: none !important;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.settings-user-input:focus~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.settings-user-input~label {
    position: absolute;
    font-size: 14px;
    transition: all .2s;
    text-align: left;
    left: 20px;
    line-height: 50px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    color: black;
}

.settings-user-input:focus {
    padding: 18px 20px 0;
}

.settings-user-input:valid~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.settings-user-input:valid {
    padding: 18px 20px 0;
}

#settings-user-firstname {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #dedfe3;
}

#settings-user-lastname {
    border-radius: 0 0 5px 5px;
}

.settings-button {
    background: #209fb6;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    margin-left: auto;
}

.settings-provider-balances {
    margin: 20px 0;
    /* border: 1px solid #414141; */
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.settings-provider-balance {
    position: relative;
    height: 50px;
    width: 20%;
    user-select: none;
}

.settings-provider-balance-input {
    display: block;
    outline: none !important;
    padding: 0 20px;
    width: 100%;
    height: 100%;

    padding: 18px 20px 0;
    user-select: none;

    border-radius: 0 0 0 0;
    border-right: 1px solid #414141;
    background: #252b38;
    color: white;
    user-select: none;
}

.settings-provider-balance-input:focus~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.settings-provider-balance-input:focus {
    padding: 18px 20px 0;
}

/* .settings-provider-balance-input:valid~label {
    font-size: 12px;
    transition: all .2s;
    top: -10px;
}

.settings-provider-balance-input:valid {
    padding: 18px 20px 0;
} */

.settings-provider-balance-input~label {
    position: absolute;
    font-size: 14px;
    transition: all .2s;
    text-align: left;
    left: 20px;
    line-height: 50px;
    cursor: text;
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    color: black;

    font-size: 12px;
    transition: all .2s;
    top: -10px;
    user-select: none;
    color: white;
}

.settings-withdraw-input {
    width: 100%;
    background: transparent;
    color: white;
    outline: none !important;
    text-align: center;
}

.settings-withdraw-button {
    width: 100%;
    margin: auto;
    display: block;
    font-size: 15px;
}

.settings-history-table {
    color: white;
    width: 100%;
    
}

.settings-history-table th {
    background-color: #252b38;
}

.settings-history-table tr {
    background-color: #414141;
    text-align: center;
    border: 1px solid #252b38;
    border-width: 0 0 1px;
}

