<!-- COMING SOON MODAL -->
<div class="modal" id="coming-soon-modal">
  <div class="coming-soon-panel-wrapper">
    <button class="modal-close">
      X
    </button>
    <div class="coming-soon-panel">
        <!-- <h1>Coming soon!</h1> -->
        <img src="http://www.healthwithoutbarriers.org/wp-content/uploads/2017/06/COMING-SOON-icon-3.png">
    </div>
  </div>
</div>