#coming-soon-modal {}

.coming-soon-panel-wrapper {
    background: white;
    width: 380px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 300px;
    left: 50%;
    border-radius: 10px;
}

.coming-soon-panel {
    padding: 20px;
}

.coming-soon-panel h1 {
    text-align: center;
}
