<div class="settings-sidebar">
    <div class="user-circle">
        KL
    </div>
    <span class="user-name">
        {{currentUser.firstName}}
    </span>
    <span class="user-subtitle">
        Welcome
    </span>
    <div class="sidebar-balance">
        <div class="balance-display">
            <span class="balance-title">Balance</span>
            <span class="balance-amount">$1000.00</span>
        </div>
        <button class="sidebar-deposit-button">
            Deposit
        </button>
    </div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/balance']">
                <i class="far fa-wallet"></i>
                Balance</a>
        </li>
        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/deposit']"><i class="far fa-coins"></i>
                Deposit</a>
        </li>

        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/withdraw']"><i class="far fa-university"></i>
                Withdraw</a>
        </li>

        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/transfer']"><i class="far fa-exchange"></i>
                Transfer</a>
        </li>

        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/history']">
                <i class="far fa-history"></i>
                History</a>
        </li>

        <li class="sidebar-menu-option" [routerLinkActive]="['sidebar-menu-option-active']">
            <a [routerLink]="['/settings']"><i class="far fa-cog"></i>
                Personal Settings</a>
        </li>

    </ul>
</div>