<!-- SPACE -->
<div class="space-50">
</div>

<!-- MAIN CONTENT -->
<div class="main-content">

    <!-- PROFILE -->
    <section class="settings">
        <div class="settings-wrapper">
            <app-settings-sidebar></app-settings-sidebar>
            <div class="settings-content">
                <div class="settings-content-header">
                    <span class="settings-content-header-title">History</span>
                    <span class="settings-content-header-subtitle">View your gaming and transaction history</span>
                    <hr>
                </div>
                <div class="settings-balance">
                    <div class="settings-balance-item-wrapper-full">
                        <div class="settings-balance-item">
                            <!-- <span class="settings-content-title">
                                        Text
                                    </span>
                                    <span class="settings-content-subtitle">
                                        Text
                                    </span> -->
                            <table class="settings-history-table">
                                <tr>
                                    <th>Data1</th>
                                    <th>Data2</th>
                                    <th>Data3</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPACE -->
    <div class="space-50">
    </div>

</div>