<div class="site-wrapper body-bg-game">
  <!-- SPACE -->
  <div class="space-50">
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">

      <!-- GAME CONTAINER -->
      <section class="game-container">
          <div class="game-frame">
            <!-- <iframe src="http://cache.download.banner.fourblessings88.com/casinoclient.html?language=en&game={{gamecode}}&mode=offline"></iframe> -->
            <iframe [src]='_sanitizationService.bypassSecurityTrustResourceUrl(gameurl)'></iframe>
            
          </div>
      </section>

      <!-- SPACE -->
      <div class="space-50">
      </div>

      <!-- RELATED GAMES -->
      <section class="recommended-games slider-section">
          <div class="slider-section-head">
              <div class="controller-icon"></div>
              <h1>Related Games</h1>
              <button class="slider-btn slider-prev-btn">
                  <i class="far fa-arrow-left"></i>
              </button>
              <button class="slider-btn slider-next-btn">
                  <i class="far fa-arrow-right"></i>
              </button>
          </div>
          <div class="games-slider">
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn7.jpg">
                      <div class="game-slide-controls">
                          <span>Mega Moolah Isis</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn8.jpg">
                      <div class="game-slide-controls">
                          <span>Great Rhino</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn9.jpg">
                      <div class="game-slide-controls">
                          <span>Eastern Emeralds</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn10.jpg">
                      <div class="game-slide-controls">
                          <span>Book of Dead</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn11.jpg">
                      <div class="game-slide-controls">
                          <span>Fire Joker</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
              <a href="#" class="game-slide-a">
                  <div class="game-slide">
                      <img src="assets/img/gametn12.jpg">
                      <div class="game-slide-controls">
                          <span>7 Chakras</span>
                          <img src="assets/img/play.svg">
                      </div>
                  </div>
              </a>
          </div>
      </section>


  </div>

  <!-- SPACE -->
  <div class="space-100">
  </div>
  <div class="space-100">
  </div>
  <div class="space-100">
  </div>
</div>