<!-- NAVBAR -->
<nav class="navbar-main navbar-bg-initial">
  <div class="navbar-burger">
    <i class="far fa-bars"></i>
  </div>
  <div class="navbar-btn navbar-search">
    <i class="far fa-search"></i>
  </div>
  <a class="navbar-btn navbar-home" [routerLinkActive]="['navbar-btn-active']" [routerLink]="['/']"
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="far fa-home-heart"></i>
  </a>
  <!-- <div class="navbar-btn text-sm" id="navbar-slots-link">
            SLOTS
        </div>
        <div class="navbar-btn text-sm" id="navbar-live-casino-link">
            LIVE CASINO
        </div> -->
  <div class="navbar-brand">
    <h1><a routerLink="/">mywin28</a></h1>
  </div>
  <!-- <i class="far fa-bullhorn"></i> -->
  <button class="navbar-login-btn" *ngIf="!currentUser">
    <span>Log in</span>
  </button>
  <button class="navbar-signup-btn" *ngIf="!currentUser">
    <i class="fas fa-shield"></i>
    <span>Sign Up</span>
  </button>
<div class="navbar-profile" *ngIf="currentUser">
    <button class="navbar-profile-btn">
      <span><i class="fas fa-user"></i></span>
    </button>
    <div class="navbar-profile-space"></div>
    <div class="navbar-profile-dropdown">
        <ul>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/balance">Balance</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/deposit">Deposit</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/withdraw">Withdraw</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/transfer">Transfer</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/history">History</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" routerLink="/settings">Settings</a>
          </li>
          <li class="navbar-profile-dropdown-item">
            <a *ngIf="currentUser" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
</div>

  <nav class="navbar-sub navbar-bg">
    <div class="navbar-sub-btn text-sm" id="navbar-slots-link">
      <i class="far fa-gamepad navbar-icon"></i>
      SLOTS
    </div>
    <div class="navbar-sub-btn text-sm" id="navbar-live-casino-link">
      <i class="far fa-dice navbar-icon"></i>
      LIVE CASINO
    </div>
<a [routerLink]="['/register']">
      <div class="navbar-sub-btn text-sm" id="navbar-pt-link">
        <i class="far fa-trophy navbar-icon"></i>
        PT
      </div>
</a>
    <div class="navbar-sub-btn text-sm" id="navbar-sports-link">
      <i class="fas fa-futbol navbar-icon"></i>
      SPORTS
    </div>
    <div class="navbar-sub-btn text-sm" id="navbar-new-arrivals-link">
      <i class="far fa-plane-arrival navbar-icon"></i>
      NEW ARRIVALS
    </div>
  </nav>
</nav>

<div class="navbar-padding">
</div>
<div class="navbar-padding">
</div>

<!-- TEMP NAV -->
<!-- <nav class="navbar-temp navbar-expand-temp bg-dark-temp justify-center">
  <div class="navbar-nav-temp">
    <a routerLink="/">Home</a>
    <a routerLink="/games">Games</a>
    <a routerLink="/balance">Balance</a>
    <a routerLink="/deposit">Deposit</a>
    <a routerLink="/cashout">Withdraw</a>
    <a routerLink="/transfer">Transfer</a>
    <a routerLink="/history">History</a>
    <a routerLink="/user">Settings</a>
    <a *ngIf="currentUser" (click)="logout()">Logout</a>
  </div>
</nav> -->