.navbar-profile {
    margin-left: auto;
    background: rgb(255,255,255, 0)
}

.navbar-profile-btn {
    padding: 15px 18px;
    border-radius: 50px;
    position: relative;
    top: 5px;
}

.navbar-profile-dropdown {
    background: white;
    border-radius: 15px;
    position: absolute;
    z-index: 1000;
    /* margin-top: 10px; */
    right: 20px;
    /* transition: 0.3s; */
    display: none;
}

.navbar-profile-dropdown-active {
    display: initial;
}

.navbar-profile-space {
    height: 10px;
}

.navbar-profile-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.navbar-profile-dropdown-item {
    color: rgb(128, 128, 128);
    padding: 12px 15px;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.navbar-profile-dropdown-item:hover {
    /* color: #60ab2e; */
    color: rgb(54, 54, 54);
}